<% content_for :meta_title, "#{DEFAULT_META["meta_title"]} : chirurgie de la cataracte" %>
<% content_for :meta_description, "Renseignez vous sur la chirurgie de la cataracte : bilan clinique, comment préparer l'intervention et les consignes post-opératoires." %>
<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag('logo_ok.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->
<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", pages_centre_path %>
      <%= link_to "EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <%= link_to "RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", style: 'color:#207fde', target: '_blank', class: "link_rendez_vous" %>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->
<!------------------------------------ titre ------------------------------------------->
<h1 class="titre_pathologies">CATARACTE</h1>
<!------------------------------------ titre ------------------------------------------->
<div class='chest_each_patho'>
  <div class="conteneur_text_chirurgies">
    <div class="textes">
      <%= image_tag('cataracte.jpg', alt: "", class: "image_pathology", style: "heigth: 170px;width:200px") %>
      <p>La cataracte correspond à l’opacification d'une structure intra-oculaire dénommée cristallin. Cette opacification progressive perturbe la progression de la lumière dans l'oeil. Une information visuelle de moins bonne qualité est alors communiquée au cerveau.</p>
      <p>Quand la correction apportée par les lunettes ou les lentilles ne suffit plus, l’opération est alors envisagée. Elle a pour but de rétablir la transparence du cristallin et donc, de rendre une meilleure vue.</p>
      <p>Cliquez ci-dessous, vous trouverez les éléments pour vous guider à chaque étape de votre chirurgie.</p>
    </div>
  </div>
  <!-------------------------------------- liens détails --------------------------------------------->
  <div class='bottom_elements'>
    <% @bilans.each do |bilan| %>
      <% if bilan.name == 'Cataracte' %>
        <div class="bottom_element_1">
          <%= link_to (bilancliniquepreoperatoire_path(bilan)), class: "bottom_description" do %>
            <p class="titre_bottom">Bilan clinique pré-opératoire</p>
            <p>Contenu de la consultation préalable à toute chirurgie au cabinet</p>
            <p class="plus">En savoir plus</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% @prepares.each do |prepare| %>
      <% if prepare.name == 'Cataracte' %>
        <div class="bottom_element_1">
          <%= link_to (preparerlintervention_path(prepare)), class: "bottom_description" do %>
            <p class="titre_bottom">Preparer l'intervention</p>
            <p>Les éléments essentiels à préparer avant l'intervention</p>
            <p class="plus">En savoir plus</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% @consignes.each do |consigne| %>
      <% if consigne.name == 'Cataracte' %>
        <div class="bottom_element_1">
          <%= link_to (consignepostoperatoire_path(consigne)), class: "bottom_description" do %>
            <p class="titre_bottom">Consignes post-opératoires</p>
            <p>Après la chirurgie, que faire ?</p>
            <p class="plus">En savoir plus</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-------------------------------------- liens détails --------------------------------------------->
  <!-------------------------------------- étape suivante --------------------------------------------->
  <% @bilans.each do |bilan| %>
    <% if bilan.name == 'Cataracte' %>
        <%= link_to (bilancliniquepreoperatoire_path(bilan)), class: 'etape' do %>
          <%= image_tag('fleche01.png', alt:"fleche", style: "width: 70px;") %>
          <p>Etape suivante : Bilan clinique pré-opératoire</p>
        <% end %>
    <% end %>
  <% end %>
  <!-------------------------------------- étape suivante --------------------------------------------->
</div>
<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag('logo_ok.png', alt: "logo", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
