<% content_for :meta_title, "#{DEFAULT_META["meta_title"]} : chirurgie de la cataracte" %>
<% content_for :meta_description, "Renseignez vous sur la chirurgie de la cataracte : résumé. Qu'est ce que la cataracte ?" %>

<h1 class="titre_pathologies">CHIRUGIE DE LA CATARACTE</h1>
<div class='chest_each_patho'>
  <div class="conteneur_text_chirurgies">
    <div class="textes">
      <%= image_tag('cataracte.jpg', alt: "schema cataracte", class: "image_pathology pathology_hw") %>
      <p>La cataracte correspond à l’opacification d'une structure intra-oculaire dénommée cristallin. Cette opacification progressive perturbe la progression de la lumière dans l'oeil. Une information visuelle de moins bonne qualité est alors communiquée au cerveau.</p>
      <p>Quand la correction apportée par les lunettes ou les lentilles ne suffit plus, l’opération est alors envisagée. Elle a pour but de rétablir la transparence du cristallin et donc, de rendre une meilleure vue.</p>
      <p>Cliquez ci-dessous, vous trouverez les éléments pour vous guider à chaque étape de votre chirurgie.</p>
    </div>
  </div>
  <%= link_to (chirurgy_detail_path(@chirurgie)), title: "Cataracte - détails", class: 'etape' do %>
  <%= image_tag('fleche01.png', alt:"fleche", class: 'width_70') %>
  <p>Voir les détails de la chirurgie de la cataracte</p>
  <% end %>
</div>
<div class='bottom_bar d-flex'>
  <%= image_tag('logobleu.png', alt: "logo Ophta Miramas", class: 'img_prez') %>
  <p class="my-2 text-footer">Site internet réalisé par <%= link_to 'DataWeb Univers', 'https://www.data-web-univers.com', title: "Dataweb Univers", class: 'no_decoration text-footer' %></p>
</div>
