<% content_for :meta_title, "#{DEFAULT_META["meta_title"]} : injection intra-vitréenne" %>
<% content_for :meta_description, "Renseignez vous sur l'injection intra-vitréenne : résumé. Qu'est ce que l'ivt ?." %>
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag('logo_ok.png', alt: "logo Ophta Miramas", id: "img_logo") %>
  <% end %>
</div>
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), title: "page d'accueil", class: 'a_img') do %>
    <%= image_tag('view.png', alt: "logo oeil", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", centre_path, title: 'le cabinet' %>
      <%= link_to "EQUIPE", equipe_path, title: "présentation de l'équipe" %>
      <%= link_to "LUNETTES", lunettes_path, title: 'rdv lunettes' %>
      <%= link_to "PATHOLOGIES", pathologies_path, title: 'présentation des pathologies occulaires' %>
      <%= link_to "CHIRURGIES", chirurgies_path, title: 'présentation des chirurgies', class: 'chirurgie_bb' %>
      <%= link_to "RENDEZ-VOUS", "https://www.doctolib.fr/cabinet-medical/miramas/cabinet-d-ophtalmologie-miramas", title: 'site de prise de rendez-vous', target: '_blank', class: "link_rendez_vous color_link", rel: 'noopener nofollow' %>
    </div>
  </div>
</div>
<h1 class="titre_pathologies">INJECTION INTRA-VITREENNE</h1>
<div class='chest_each_patho'>
  <div class="conteneur_text_image">
    <div class="textes text_width">
      <p class="full_width">Les injections intra-vitréennes sont indiquées dans diverses pathologies dont principalement la DMLA, la maculopathie diabétique et les pathologies vasculaires veineuses.</p>
      <p class="full_width">Ce traitement est très efficace et indolore.</p>
      <p class="full_width">Les injections sont réalisées dans un environnement spécifique afin d'éviter toutes complications infectieuses.</p>
      <p class="full_width">Vous allez être injecté ? Ci-dessous, vous trouverez les éléments pour vous guider à chaque étape de votre traitement.</p>
    </div>
    <%= image_tag('ivt_schema.jpg', alt: 'schema ivt', class: 'width_200') %>
  </div>
  <p><br><br></p>
  <%= link_to (chirurgy_detail_path(@chirurgie)), title: "ivt - détails", class: 'etape' do %>
  <%= image_tag('fleche01.png', alt:"fleche", class: 'width_70') %>
  <p>Voir les détails de l'injection intra-vitéenne</p>
  <% end %>
</div>
<div class='bottom_bar d-flex'>
  <%= image_tag('logobleu.png', alt: "logo Ophta Miramas", class: 'img_prez') %>
  <p class="my-2 text-footer">Site internet réalisé par <%= link_to 'DataWeb Univers', 'https://www.data-web-univers.com', title: "Dataweb Univers", class: 'no_decoration text-footer' %></p>
</div>
