<% content_for :meta_title, "#{DEFAULT_META["meta_title"]} : injection intra-vitréenne" %>
<% content_for :meta_description, "Renseignez vous sur l'injection intra-vitréenne : résumé. Qu'est ce que l'ivt ?." %>

<h1 class="titre_pathologies">INJECTION INTRA-VITREENNE</h1>
<div class='chest_each_patho'>
  <div class="conteneur_text_image">
    <div class="textes text_width">
      <p class="full_width">Les injections intra-vitréennes sont indiquées dans diverses pathologies dont principalement la DMLA, la maculopathie diabétique et les pathologies vasculaires veineuses.</p>
      <p class="full_width">Ce traitement est très efficace et indolore.</p>
      <p class="full_width">Les injections sont réalisées dans un environnement spécifique afin d'éviter toutes complications infectieuses.</p>
      <p class="full_width">Vous allez être injecté ? Ci-dessous, vous trouverez les éléments pour vous guider à chaque étape de votre traitement.</p>
    </div>
    <%= image_tag('ivt_schema.jpg', alt: 'schema ivt', class: 'width_200') %>
  </div>
  <p><br><br></p>
  <%= link_to (chirurgy_detail_path(@chirurgie)), title: "ivt - détails", class: 'etape' do %>
  <%= image_tag('fleche01.png', alt:"fleche", class: 'width_70') %>
  <p>Voir les détails de l'injection intra-vitéenne</p>
  <% end %>
</div>
<div class='bottom_bar d-flex'>
  <%= image_tag('logobleu.png', alt: "logo Ophta Miramas", class: 'img_prez') %>
  <p class="my-2 text-footer">Site internet réalisé par <%= link_to 'DataWeb Univers', 'https://www.data-web-univers.com', title: "Dataweb Univers", class: 'no_decoration text-footer' %></p>
</div>
