<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
    <%= image_tag('logo_ok.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->


<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "LE CENTRE", pages_centre_path %>
      <%= link_to "L'EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <a style='color:gray'>PRENDRE RENDEZ-VOUS</a>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->


<!------------------------------------ titre ------------------------------------------->
<h2 class="titre_pathologies" style="margin-left: 7%;">INJECTION INTRA-VITRENNE</h2>
<!------------------------------------ titre ------------------------------------------->


    <div class='chest_each_patho'>
      <div class="vide"></div>
        <div class="conteneur_text_image">
          <div class="textes">
            <p>Les injections intra-vitréennes sont indiquées dans diverses pathologies dont principalement la DMLA, la maculopathie diabétique et les pathologies vasculaires veineuses.</p>

            <p><br></p>

            <p>Ce traitement est très efficace et indolore.</p>

            <p><br></p>

            <p>Les injections sont réalisées dans un environnement spécifique afin d'éviter toutes complications infectieuses.</p>

            <p><br></p>

            <p>Vous allez être injecté ? Ci-dessous, vous trouverez les éléments pour vous guider à chaque étape de votre traitement.</p>
          </div>
          <%= image_tag('ivt_schema.jpg', alt: "", class: "image_pathology", style: "width: 200px") %>
        </div>

      <p><br><br></p>

<!-------------------------------------- liens détails --------------------------------------------->
    <div class='bottom_elements'>
      <%= link_to (chirurgy_bilancliniquepreoperatoire_path(@chirurgie)), class: "bottom_description" do %>
        <h2>Bilan clinique pré opératoire</h2>
        <p>Contenu de la consultation préalable à toute chirurgie au cabinet</p>
        <h4>En savoir plus</h4>
      <% end %>
      <div class="ligne"></div>
      <%= link_to (chirurgy_preparerlintervention_path(@chirurgie)), class: "bottom_description" do %>
        <h2>Preparer l'intervention</h2>
        <p>Les éléments essentiels à préparer avant l'intervention</p>
        <h4>En savoir plus</h4>
      <% end %>
      <div class="ligne"></div>
      <%= link_to (chirurgy_consignepostoperatoire_path(@chirurgie)), class: "bottom_description" do %>
        <h2>Consignes post-opératoires</h2>
        <p>Après la chirurgie, que faire ?</p>
        <h4>En savoir plus</h4>
      <% end %>
    </div>
<!-------------------------------------- liens détails --------------------------------------------->


<!-------------------------------------- étape suivante --------------------------------------------->
    <%= link_to (chirurgy_bilancliniquepreoperatoire_path(@chirurgie)), class: 'etape' do %>
      <%= image_tag('fleche.png', alt: "", class: "fleche") %>
      <p>Etape suivante : Bilan clinique pré-opératoire</p>
    <% end %>
    <p><br><br></p>
<!-------------------------------------- étape suivante --------------------------------------------->
  </div>

<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag('logo_ok.png', alt: "", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
