<% content_for :meta_title, "#{DEFAULT_META["meta_title"]} : injection intra-vitréenne" %>
<% content_for :meta_description, "Renseignez vous sur l'injection intra-vitréenne : bilan clinique, comment préparer l'intervention et les consignes post-opératoires." %>
<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag('logo_ok.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->
<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", pages_centre_path %>
      <%= link_to "EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <%= link_to "RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", style: 'color:#207fde', target: '_blank', class: "link_rendez_vous" %>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->
<!------------------------------------ titre ------------------------------------------->
<h1 class="titre_pathologies">INJECTION INTRA-VITREENNE</h1>
<!------------------------------------ titre ------------------------------------------->
<div class='chest_each_patho'>
  <div class="conteneur_text_image">
    <div class="textes" style="width:70%">
      <p style="width:100%">Les injections intra-vitréennes sont indiquées dans diverses pathologies dont principalement la DMLA, la maculopathie diabétique et les pathologies vasculaires veineuses.</p>
      <p style="width:100%">Ce traitement est très efficace et indolore.</p>
      <p style="width:100%">Les injections sont réalisées dans un environnement spécifique afin d'éviter toutes complications infectieuses.</p>
      <p style="width:100%">Vous allez être injecté ? Ci-dessous, vous trouverez les éléments pour vous guider à chaque étape de votre traitement.</p>
    </div>
    <%= image_tag('ivt_schema.jpg', alt: "", style: "width: 200px") %>
  </div>
  <p><br><br></p>
  <!-------------------------------------- liens détails --------------------------------------------->
  <div class='bottom_elements'>
    <% @bilans.each do |bilan| %>
      <% if bilan.name == 'IVT' %>
        <div class="bottom_element_1">
          <%= link_to (bilancliniquepreoperatoire_path(bilan)), class: "bottom_description" do %>
            <h3>Bilan clinique pré-opératoire</h3>
            <p>Contenu de la consultation préalable à toute chirurgie au cabinet</p>
            <p class="plus">En savoir plus</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% @prepares.each do |prepare| %>
      <% if prepare.name == 'IVT' %>
        <div class="bottom_element_1">
          <%= link_to (preparerlintervention_path(prepare)), class: "bottom_description" do %>
            <h3>Preparer l'intervention</h3>
            <p>Les éléments essentiels à préparer avant l'intervention</p>
            <p class="plus">En savoir plus</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% @consignes.each do |consigne| %>
      <% if consigne.name == 'IVT' %>
        <div class="bottom_element_1">
          <%= link_to (consignepostoperatoire_path(consigne)), class: "bottom_description" do %>
            <h3>Consignes post-opératoires</h3>
            <p>Après la chirurgie, que faire ?</p>
            <p class="plus">En savoir plus</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-------------------------------------- liens détails --------------------------------------------->
  <!-------------------------------------- étape suivante --------------------------------------------->
  <% @bilans.each do |bilan| %>
    <% if bilan.name == 'IVT' %>
        <%= link_to (bilancliniquepreoperatoire_path(bilan)), class: 'etape' do %>
          <%= image_tag('fleche01.png', alt:"fleche", style: "width: 70px;") %>
          <p>Etape suivante : Bilan clinique pré-opératoire</p>
        <% end %>
    <% end %>
  <% end %>
  <!-------------------------------------- étape suivante --------------------------------------------->
</div>
<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag('logo_ok.png', alt: "", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
