<% content_for :meta_title, "#{DEFAULT_META["meta_title"]} : chirurgie réfractive (laser)" %>
<% content_for :meta_description, "Renseignez vous sur la chirurgie réfractive (laser) : résumé. Qu'est ce que la chirurgie réfractive (laser) ?." %>
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag('logo_ok.png', alt: "logo Ophta Miramas", id: "img_logo") %>
  <% end %>
</div>
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), title: "page d'accueil", class: 'a_img') do %>
    <%= image_tag('view.png', alt: "logo oeil", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", centre_path, title: 'le cabinet' %>
      <%= link_to "EQUIPE", equipe_path, title: "présentation de l'équipe" %>
      <%= link_to "LUNETTES", lunettes_path, title: 'rdv lunettes' %>
      <%= link_to "PATHOLOGIES", pathologies_path, title: 'présentation des pathologies occulaires' %>
      <%= link_to "CHIRURGIES", chirurgies_path, title: 'présentation des chirurgies', class: 'chirurgie_bb' %>
      <%= link_to "RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", title: 'site de prise de rendez-vous', target: '_blank', class: "link_rendez_vous color_link", rel: 'noopener nofollow' %>
    </div>
  </div>
</div>
<h1 class="titre_pathologies">CHIRURGIE REFRACTIVE</h1>
<div class='chest_each_patho'>
  <div class="conteneur_text_image">
    <div class="textes text_width">
      <p class="full_width">Cette chirurgie permet de corriger tous les défauts visuels de réfraction (myopie, astigmatisme, hypermétropie et même presbytie).</p>
      <p class="full_width">Oubliez vos lunettes, et vos lentilles ! Obtenez une vision de loin et une vision de près satisfaisantes !</p>
      <p class="full_width">La chirurgie moderne est maintenant accessible à tous, avec une récupération très rapide.</p>
      <p class="full_width">Vous allez vous faire opérer ? Ci-dessous, vous trouverez les éléments pour vous guider à chaque étape de votre chirurgie.</p>
    </div>
    <%= image_tag('lunettes.jpg', alt: "lunettes ophtalmologie", class: "h_144_w_200") %>
  </div>
  <%= link_to (chirurgy_detail_path(@chirurgie)), title: "laser - détails", class: 'etape' do %>
  <%= image_tag('fleche01.png', alt:"fleche", class: 'width_70') %>
  <p>Voir les détails de la chirurgie réfractive (laser)</p>
  <% end %>
</div>
<div class='bottom_bar d-flex'>
  <%= image_tag('logobleu.png', alt: "logo Ophta Miramas", class: 'img_prez') %>
  <p class="my-2 text-footer">Site internet réalisé par <%= link_to 'DataWeb Univers', 'https://www.data-web-univers.com', title: "Dataweb Univers", class: 'no_decoration text-footer' %></p>
</div>
