<% content_for :meta_title, "#{DEFAULT_META["meta_title"]} : chirurgie réfractive (laser)" %>
<% content_for :meta_description, "Renseignez vous sur la chirurgie réfractive (laser) : bilan clinique, comment préparer l'intervention et les consignes post-opératoires." %>
<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
    <%= image_tag('logo_ok.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->


<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", pages_centre_path %>
      <%= link_to "EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <%= link_to "RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", style: 'color:#207fde', target: '_blank', class: "link_rendez_vous", rel: 'nofollow' %>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->


<!------------------------------------ titre ------------------------------------------->
<h1 class="titre_pathologies">CHIRURGIE REFRACTIVE</h1>
<!------------------------------------ titre ------------------------------------------->


    <div class='chest_each_patho'>
        <div class="conteneur_text_image">
          <div class="textes" style="width: 70%;">
            <p style="width:100%">Cette chirurgie permet de corriger tous les défauts visuels (myopie, astigmatisme, hypermétropie et même presbytie).</p>

            <p style="width:100%">Oubliez vos lunettes, et vos lentilles ! Obtenez une vision de loin et une vision de près satisfaisantes !</p>

            <p style="width:100%">La chirurgie moderne est maintenant accessible à tous, avec une récupération très rapide.</p>


            <p style="width:100%">Vous allez vous faire opérer ? Ci-dessous, vous trouverez les éléments pour vous guider à chaque étape de votre chirurgie.</p>
          </div>
          <%= image_tag('lunettes.jpg', alt: "", style: "height: 114px;width:220px") %>
        </div>


<!-------------------------------------- liens détails --------------------------------------------->
  <div class='bottom_elements'>
    <% @bilans.each do |bilan| %>
      <% if bilan.name == 'Chirurgie réfractive' %>
        <div class="bottom_element_1">
          <%= link_to (bilancliniquepreoperatoire_path(bilan)), class: "bottom_description" do %>
            <p class="titre_bottom">Bilan clinique pré-opératoire</p>
            <p>Contenu de la consultation préalable à toute chirurgie au cabinet</p>
            <p class="plus">En savoir plus</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% @prepares.each do |prepare| %>
      <% if prepare.name == 'Chirurgie réfractive' %>
        <div class="bottom_element_1">
          <%= link_to (preparerlintervention_path(prepare)), class: "bottom_description" do %>
            <p class="titre_bottom">Preparer l'intervention</p>
            <p>Les éléments essentiels à préparer avant l'intervention</p>
            <p class="plus">En savoir plus</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% @consignes.each do |consigne| %>
      <% if consigne.name == 'Chirurgie réfractive' %>
        <div class="bottom_element_1">
          <%= link_to (consignepostoperatoire_path(consigne)), class: "bottom_description" do %>
            <p class="titre_bottom">Consignes post-opératoires</p>
            <p>Après la chirurgie, que faire ?</p>
            <p class="plus">En savoir plus</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-------------------------------------- liens détails --------------------------------------------->
  <!-------------------------------------- étape suivante --------------------------------------------->
  <% @bilans.each do |bilan| %>
    <% if bilan.name == 'Chirurgie réfractive' %>
        <%= link_to (bilancliniquepreoperatoire_path(bilan)), class: 'etape' do %>
          <%= image_tag('fleche01.png', alt:"fleche", style: "width: 70px;") %>
          <p>Etape suivante : Bilan clinique pré-opératoire</p>
        <% end %>
    <% end %>
  <% end %>
<!-------------------------------------- étape suivante --------------------------------------------->
  </div>


<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag('logo_ok.png', alt: "", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
