<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
    <%= image_tag('logo_ok.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->


<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", pages_centre_path %>
      <%= link_to "EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <%= link_to "RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", style: 'color:#207fde', target: '_blank', class: "link_rendez_vous" %>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->


<!------------------------------------ titre ------------------------------------------->
<h2 class="titre_pathologies">CHIRURGIE DES PAUPIERES</h2>
<!------------------------------------ titre ------------------------------------------->


    <div class='chest_each_patho'>
       <div class="conteneur_text_image">
        <div class="textes" style="width:70%">
          <p style="width:100%;">Rides, poches, regard triste, austère ou fatigué... les traces de l'âge sont forcément une fatalité.</p>

          <p style="width:100%;">les ophtalmologistes peuvent vous conseiller et vous proposer des injections réduisant les traces du temps ou une chirurgie de blépharoplastie esthétique.</p>

          <p style="width:100%;">En première intention, la toxine botulique (ou Botox) permet des résultats rapides et efficaces.</p>

          <p style="width:100%;">Dans un deuxième temps, un traitement volumateur par acide hyaluronique est possible.</p>

          <p style="width:100%;">Améliorer votre image et votre bien être, avec un résultat naturel...</p>
        </div>
        <%= image_tag('esthetic.jpg', alt: "", style:"heigth: 100px;width:200px;") %>
      </div>

      <h2 style="font-size: smaller; margin: 18px 18px">Pour plus d'informations sur la chirurgie esthétique des paupières, allez voir la <%= link_to "page des téléchargements", pages_telechargements_path %></h2>

  </div>
<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag('logo_ok.png', alt: "", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
