<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag(asset_path('logo_ok'), alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->


<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag(asset_path('view'), alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "LE CENTRE", pages_centre_path %>
      <%= link_to "L'EQUIPE", pages_centre_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "PATHOLOGIES", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <a style='color:gray'>PRENDRE RENDEZ-VOUS</a>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->


<!------------------------------------ titre ------------------------------------------->
<h2 class="titre_pathologies" style="margin-left: 7%;">CHIRURGIE DES PAUPIERES</h2>
<!------------------------------------ titre ------------------------------------------->


    <div class='chest_each_patho'>
      <div class="vide"></div>
       <div class="conteneur_text_image">
          <div class="textes">
      <p>Rides, poches, regard triste, sévère ou fatigué...</p>

      <p><br></p>

      <p>Les traces de l'âge sont forcément une fatalité.</p>

      <p><br></p>

      <p>Les docteurs peuvent vous conseiller et vous proposer des injections effaçant les traces du temps.</p>

      <p><br></p>

      <p>En premier intention, la toxine botulique (ou Botox) permet des résultats rapides et efficaces.</p>

      <p><br></p>

      <p>Dans un deuxième temps, un traitement volumateur par acide hyaluronique est possible.</p>

      <p><br></p>

      <p>Améliorer votre image et votre bien être, avec un résultat naturel...</p>
    </div>
    <%= image_tag(asset_path('aesthetic'), alt: "", class: "image_pathology") %>
  </div>

      <p><br><br></p>

<!-------------------------------------- liens détails --------------------------------------------->
    <div class='bottom_elements'>
      <%= link_to (chirurgy_bilancliniquepreoperatoire_path(@chirurgie)), class: "bottom_description" do %>
        <h2>Première consultation</h2>
        <p>Contenu de la consultation préalable à tout geste</p>
        <h4>En savoir plus</h4>
      <% end %>
    </div>
<!-------------------------------------- liens détails --------------------------------------------->


<!-------------------------------------- étape suivante --------------------------------------------->
    <%= link_to (chirurgy_bilancliniquepreoperatoire_path(@chirurgie)), class: 'etape' do %>
      <%= image_tag(asset_path('fleche'), alt: "", class: "fleche") %>
      <p>Etape suivante : Première consultation</p>
    <% end %>
<!-------------------------------------- étape suivante --------------------------------------------->


<!------------------------------------ button rendez-vous ------------------------------------------->
    <a class="btn_rdv">PRENDRE UN RENDEZ-VOUS</a>
  </div>
<!------------------------------------ button rendez-vous ------------------------------------------->


<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag(asset_path('logo_ok'), alt: "", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
