<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
    <%= image_tag('logo_ok.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->


<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "LE CENTRE", pages_centre_path %>
      <%= link_to "L'EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <a style='color:gray'>PRENDRE RENDEZ-VOUS</a>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->


<!------------------------------------ titre ------------------------------------------->
<h2 class="titre_pathologies" style="margin-left: 7%;">CHIRURGIES</h2>
<!------------------------------------ titre ------------------------------------------->


<div class='chest_patho'>
  <div class="vide"></div>


<!-------------------------------- carte Cataracte --------------------------------------->
  <% @chirurgies.each do |chirurgie| %>
    <% if chirurgie.nom == 'Cataracte' %>
      <%= link_to(chirurgy_path(chirurgie)) do %>
        <div class='link_decollement_retine'>
          <h2>CHIRURGIES CATARACTE</h2>
          <p>Votre vision se trouble, vous êtes éblouis la nuit et vous êtes âgé de plus de 60 ans.
            <br>Peut-être êtes-vous atteint d'une cataracte ?
          <br>Vous souhaitez connaître les modalités de prise en charge (avant, pendant et après l'intervention).</p>
          <h4>En savoir plus</h4>
        </div>
      <% end %>
    <% end %>
  <% end %>
<!-------------------------------- carte Cataracte --------------------------------------->


<!---------------------------- carte Chirurgie laser ----------------------------------->
  <% @chirurgies.each do |chirurgie| %>
    <% if chirurgie.nom == 'Chirurgie Laser' %>
      <%= link_to(chirurgy_path(chirurgie)) do %>
        <div class='link_diabete'>
          <h2>CHIRURGIE REFRACTIVE</h2>
          <p>Vous souhaitez ne plus porter de lunettes ou de lentilles.
            <br>Vous êtes myope, hypermétrope, astigmate ou même presbyte.
            <br>Vous pouvez certainement bénéficier d'un traitement.
          </p>
          <h4>En savoir plus</h4>
        </div>
      <% end %>
    <% end %>
  <% end %>
<!---------------------------- carte Chirurgie laser ----------------------------------->


<!------------------------ carte Chirurgie des paupières ------------------------------->
  <% @chirurgies.each do |chirurgie| %>
    <% if chirurgie.nom == 'Chirurgie des paupières' %>
      <%= link_to(chirurgy_path(chirurgie)) do %>
        <div class='link_glaucome'>
            <h2>CHIRURGIES DE LA PAUPIÈRE</h2>
            <p>Rides, poches, regard triste, sévère ou fatigué ? Améliorer votre image et votre bien être, avec un résultat naturel ?
            <br>Les injections de toxine botulique (botox) ou d'acide hyaluronique sont des solutions efficaces et simples</p>
            <h4>En savoir plus</h4>
        </div>
      <% end %>
    <% end %>
  <% end %>
<!------------------------ carte Chirurgie des paupières ------------------------------->


<!-------------------------------- carte Glaucome --------------------------------------->
  <% @chirurgies.each do |chirurgie| %>
    <% if chirurgie.nom == 'Glaucome' %>
      <%= link_to(chirurgy_path(chirurgie)) do %>
        <div class='link_decollement_retine'>
          <h2>CHIRURGIES GLAUCOME</h2>
          <p>...</p>
          <h4>En savoir plus</h4>
        </div>
      <% end %>
    <% end %>
  <% end %>
<!-------------------------------- carte Glaucome --------------------------------------->


<!---------------------------------- carte IVT ----------------------------------------->
  <% @chirurgies.each do |chirurgie| %>
    <% if chirurgie.nom == 'IVT' %>
      <%= link_to(chirurgy_path(chirurgie)) do %>
        <div class='link_dmla'>
          <h2>Injection Intra Vitréenne</h2>
          <p>Vous avez une DMLA, une atteinte rétinienne secondaire à votre diabète ou à un problème vasculaire.
            <br>Ces pathologies peuvent bénéficier d'injections.
            <br>Vous souhaitez connaître les modalités de prise en charge (avant, pendant et après l'intervention).
          </p>
          <h4>En savoir plus</h4>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <p><br><br></p>
<!---------------------------------- carte IVT ----------------------------------------->
  </div>

<!----------------------------------- bottom bar ------------------------------------------>
<div class='bottom_bar'>
  <%= image_tag('logo_ok.png', alt: "", style: "width: 60px") %>
</div>
<!----------------------------------- bottom bar ------------------------------------------>
