<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag('logobleu.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->
<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
    <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "LE CENTRE", pages_centre_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <%= link_to "L'EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path %>
      <%= link_to "PRENDRE RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", style: 'color:#207fde', target: '_blank' %>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->
<!------------------------------------ titre ------------------------------------------->
<h2 class="titre_center">LE CENTRE</h2>
<!------------------------------------ titre ------------------------------------------->
<!------------------------------------ description ------------------------------------------->
<div class="chest_centre">
  <div class="position_row">
    <div class='text_centre'>
      <div class="cartel_center1">
        <p>Le centre d’ophtalmologie est situé au sein du centre médical au 54 Bis Avenue Charles de Gaulle à Miramas<br> <br>
        Il est ouvert du lundi au jeudi de 8h30 à 19h00 et le vendredi de 8h30 à 12H30.</p>
      </div>
      <div class="cartel_center2">
        <p class="text01">Le centre est accessible au PMR</p>
        <p class="text02"><br>Le cabinet est spécialisé en chirurgie oculaire, chirurgie rétractive et chirurgie des paupières</p>
        <p class="text03"> L’ensemble des pathologies oculaires DMLA, Diabète, Glaucome peuvent être prises en charge au cabinet</p>
        <p class="text04"><br>Les chirurgie occulaires et paupières sont réalisées à la clinique vignoli à Salon et à l’hopital privé de Provence à Aix-en-provence. <br> La chirurgie refractive, est quand-à elle, réalisée à la clinique Axiome à Aix-en-provence</p>
        <p class="text05"><br>Au sein du cabinet, un plateau technique à la pointe de la technologie capable de détecter toute pathologies est présents pour un bilan et une prise en charge adaptée</p>
      </div>
    </div>
    <!-- <%#= image_tag('lieu_2_po.jpg', class: "img_lieu", alt: "") %> -->
  </div>
 <!--  <%#= link_to(("https://www.google.fr/maps/place/54+Avenue+Charles+de+Gaulle,+13140+Miramas/@43.5842536,4.99973,17z/data=!3m1!4b1!4m5!3m4!1s0x12b603bf3a8aa1a7:0x4e4fa9953db8c285!8m2!3d43.5842497!4d5.0019187"), target: "_blank", class: "mapimg") do %> -->
  <!-- <%#= image_tag('map.png', class: "map", alt: "") %> -->
  <!------------------------------------ description ------------------------------------------->
</div>
  <div class="mapimg">
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2890.0623238543135!2d5.0018125709686565!3d43.58441815824707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b603bf3a8aa1a7%3A0x6bf4b15a8ab8eada!2sCentre%20de%20sp%C3%A9cialiste!5e0!3m2!1sfr!2sfr!4v1571824916552!5m2!1sfr!2sfr" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    <%= image_tag('lieu_2_po.jpg', class: "img_lieu", alt: "") %>
  </div>
<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag('logobleu.png', alt: "", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
