<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
    <%= image_tag(asset_path('logo_ok'), alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->


<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag(asset_path('view'), alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "LE CENTRE", pages_centre_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <%= link_to "L'EQUIPE", pages_centre_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "PATHOLOGIES", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path %>
      <a style='color:gray'>PRENDRE RENDEZ-VOUS</a>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->


<!------------------------------------ titre ------------------------------------------->
<h2 class="titre_center" style="margin-left: 7%;">LE CENTRE</h2>
<!------------------------------------ titre ------------------------------------------->


<!------------------------------------ description ------------------------------------------->
<div class="chest_centre">
  <div class="position_row">
    <div class='text_centre'>
      <p>Le centre d’ophtalmologie se situe au 54 Bis Avenue Charles de Gaulle 13140 Miramas, accès handicapé facilité.
        <br> Il est ouvert tous les jours de 8h30 à 19h00.
      <br> Téléphone 04.90.50.33.50 Fax 04.90.50.35.55</p>
      <br>
      <p>Il est situé au sein du centre médical des spécialistes avec :
        <br> - au rez de chaussé : les ophtalmos,
        <br> - à l’étage un chirugien orl dr CORNESSE et un dermato DR PECHEUX
      </p>
      <br>
      <p>Le cabinet est spécialisé en chirurgie oculaire, chirurgie rétractive et chirurgie des paupières.
        <br> L’ensemble des pathologies oculaires DML, Diabète, Glaucome peuvent être pris en charge au cabinet.
      </p>
      <br>
      <p>La chirurgie est réalisée à la clinique vignoli à Salon et à l’hopital privé de Provence à Aix-en-provence. La chirurgie refractive est réalisé à la clinique Axiome à Aix-en-provence.
      </p>
      <br>
      <p>Au sein du cabinet, un plateau technique à la pointe de la technologie avec OCT, Laser Argon et Yag, Angiographie à la fluoresceine, biomètre optique, champs visuel,  topographe sont présents pour un bilan et une prise en charge adaptées de toutes les pathologies oculaires.
      </p>
      <br>
    </div>
    <%= image_tag(asset_path('lieu_2_po'), class: "img_lieu", alt: "") %>
  </div>
  <%= link_to(("https://www.google.fr/maps/place/54+Avenue+Charles+de+Gaulle,+13140+Miramas/@43.5842536,4.99973,17z/data=!3m1!4b1!4m5!3m4!1s0x12b603bf3a8aa1a7:0x4e4fa9953db8c285!8m2!3d43.5842497!4d5.0019187"), target: "_blank") do %>
    <%= image_tag(asset_path('map'), class: "map", alt: "") %>
  <% end %>
<!------------------------------------ description ------------------------------------------->


<!------------------------------------ button rendez-vous ------------------------------------------->
  <a class="btn_rdv">PRENDRE UN RENDEZ-VOUS</a>
</div>
<!------------------------------------ button rendez-vous ------------------------------------------->


<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag(asset_path('logo_ok'), alt: "", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
