<!-- BreadcrumbList -->
<script type="application/ld+json" nonce=<%= request.content_security_policy_nonce %>>
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "charte",
      "item": "<%= charte_url %>"
    }]
  }
</script>
<!-- End BreadcrumbList -->

<% content_for :meta_title, "La charte du conseil de l'ordre - #{DEFAULT_META["meta_title"]}" %>
<% content_for :meta_description, "Lisez la charte applicable aux sites professionnels de médecins du conseil national de 'ordre des médecins (CNOM)" %>
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag('logo_ok.png', alt: "logo Ophta Miramas", id: "img_logo") %>
  <% end %>
</div>
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), title: "page d'accueil", class: 'a_img') do %>
    <%= image_tag('view.png', alt: "ogo oeil", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", centre_path, title: 'le cabinet' %>
      <%= link_to "EQUIPE", equipe_path, title: "présentation de l'équipe" %>
      <%= link_to "LUNETTES", lunettes_path, title: 'rdv lunettes' %>
      <%= link_to "PATHOLOGIES", pathologies_path, title: 'présentation des pathologies occulaires' %>
      <%= link_to "CHIRURGIES", chirurgies_path, title: 'présentation des chirurgies' %>
      <div class="dropdown">
        <%= link_to "RENDEZ-VOUS", "#", title: 'site de prise de rendez-vous', target: '_blank', class: "link_rendez_vous color_link dropdown-toggle", rel: 'noopener nofollow', "role" => "button", id: "dropdownMenuLink", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false" %>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to "Dr Nadine Buzzacchera", "https://www.doctolib.fr/ophtalmologue/miramas/silvia-soare-miramas", title: 'prendre rendez-vous avec le dr Nadine Buzzacchera', class: 'dropdown-item mx-2' %>
          <%= link_to "Dr Silvia Soare", "https://www.doctolib.fr/ophtalmologue/miramas/silvia-soare-miramas", title: 'prendre rendez-vous avec le dr Silvia Soare', class: 'dropdown-item mx-2' %>
        </div>
      </div>
    </div>
  </div>
</div>
<h1 class="titre_pathologies">LA CHARTE APPLICABLE AUX SITES PROFESSIONNEL DE MEDECINS</h1>
<div class='chest_each_patho'>
  <div class="conteneur_text_image">
    <div class="textes_lunettes">
      <div class="textes_charte">
        <h2>Notes</h2>
        <p>Le Conseil National de l’Ordre des Médecins (CNOM) encourage les médecins “à produire de l’information sur le web“. Afin d’encadrer cette démarche, l’Ordre a publié la Charte de conformité ci-après.</p>
        <p>Comme le CNOM, nous somme convaincu que “l’information en santé en ligne, publiée par un médecin, peut améliorer le service médical rendu aux patients, lorsqu’elle respecte les principes de l’éthique et de la déontologie médicale, ainsi que les compétences et les qualifications professionnelles“. C’est pourquoi, le site www.ophtalmo-miramas.com souscrit pleinement aux articles édictés ci-après.</p>
        <p>Le Conseil National de l’Ordre des Médecins invite les internautes à faire preuve d’esprit critique sur toutes les publications en ligne. La confiance que nos concitoyens accordent aux informations émanant du corps médical doit donc être soutenue avec une attention particulière. C’est la raison pour laquelle le CNOM a demandé à tous les médecins qui publient leur propre site professionnel d’afficher les points qui suivent :</p>
      </div>
    </div>
  </div>
  <div class="articles">
    <h2>Article 1</h2>
    <p><br>L’internaute doit pouvoir s’assurer que le site publiant des informations en santé est celui d’un médecin, s’il se présente comme tel.</p>
    <p>Le site professionnel du médecin doit faire apparaître, dans la page d’accueil, un lien avec la rubrique Annuaire du site web du CNOM et un lien vers la page dédiée sur le site public du CNOM qui affiche les publications et recommandations ordinales relatives à la déontologie médicale sur le web.</p>
    <p><br><br></p>
    <h2>Article 2</h2>
    <p><br>Le site professionnel du médecin doit fournir des informations pratiques sur l’adresse, la spécialité, les titres reconnus, le mode d’exercice, les établissements de santé dans lesquels il intervient, les accès, la situation vis-à-vis des organismes de protection sociale.</p>
    <p><br><br></p>
    <h2>Article 3</h2>
    <p><br>Quand des informations en santé sont publiées sur ce site, les explications doivent être de nature purement informative sur les maladies, la prévention, les traitements, les techniques pratiquées.</p>
    <p>Le médecin doit présenter de façon objective les avantages et les éventuels inconvénients des actes, prescriptions, interventions.</p>
    <p>Il doit le faire de façon simple et pédagogique, et indiquer, le cas échéant, ses sources et références.</p>
    <p>Ces informations publiques peuvent venir compléter utilement celles qui auront été préalablement données à un patient lors d’une consultation.</p>
    <p>Dans ce cas, elles ne peuvent pas avoir vocation à les remplacer. Les dates de publication et/ou de mise à jour doivent être mentionnées.</p>
    <p><br><br></p>
    <h2>Article 4</h2>
    <p><br>Lorsque le médecin n’est pas à même d’assurer lui-même des mises à jour régulières sur son site professionnel, le CNOM recommande que les informations soient alors préférentiellement délivrées par la création de liens vers des sites d’informations du grand public qui n’ont aucun intérêt de nature marchande.</p>
    <p><br><br></p>
    <h2>Article 5</h2>
    <p><br>Lorsque le site publie, à titre d’illustration des propos, des images ou des photographies, aucune identification des personnes ne doit être possible.</p>
    <p>Ces documents ne doivent pas avoir une présentation qui serait de nature à laisser croire que le résultat escompté sera obtenu, ce qui serait une tromperie, quel que soit le domaine médical ou chirurgical concerné.</p>
    <p><br><br></p>
    <h2>Article 6</h2>
    <p><br>Le site ne doit pas faire de publicité, ni directe ni indirecte, pour le médecin (Art. R.4127-19 du Code de la santé publique) ou pour les organismes auxquels il prêterait son concours (Art. R. 4127-20 du Code de la santé publique).</p>
    <p><br><br></p>
    <h2>Article 7</h2>
    <p><br>Le site professionnel du médecin doit respecter strictement la confidentialité des données personnelles recueillies.</p>
    <p><br><br></p>
    <h2>Article 8</h2>
    <p><br>Le médecin doit déclarer sur ce site ses liens d’intérêts avec toute firme en relation avec le domaine de la santé et du soin. Le cas échéant, il précise le financement du site et celui de sa maintenance.”</p>
    <p><br><br></p>
    <%= link_to 'Consulter le site d’information du CNOM', 'https://www.conseil-national.medecin.fr/publications/rapports/charte-conformite-deontologique-sites-web-medecins', title: 'site d’information du CNOM', target: '_blank', class: 'btn_rdv width_22 margin_none', rel: 'noopener nofollow' %>
    <%= link_to 'Consulter l’annuaire du Conseil de l’Ordre', 'https://www.conseil-national.medecin.fr/annuaire', title: 'site d’information du CNOM', target: '_blank', class: 'btn_rdv width_22 margin_none', rel: 'noopener nofollow' %>
  </div>
  <p><br><br></p>
</div>
<div class='bottom_bar d-flex'>
  <%= image_tag('logobleu.png', alt: "logo Ophta Miramas", class: 'img_prez') %>
  <p class="my-2 text-footer">Site internet réalisé par <%= link_to 'DataWeb Univers', 'https://www.data-web-univers.com', title: "Dataweb Univers", class: 'no_decoration text-footer' %></p>
</div>
