<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag('logo_ok.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->
<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", pages_centre_path %>
      <%= link_to "EQUIPE", pages_equipe_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path %>
      <%= link_to "RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", style: 'color:#207fde', target: '_blank', class: "link_rendez_vous" %>
    </div>
  </div>
</div>
<!------------------------------ navbar ------------------------------------------->
<!------------------------------------ titre ------------------------------------------->
<h2 class="titre_center">L'EQUIPE</h2>
<!------------------------------------ titre ------------------------------------------->
<!------------------------------------ description ------------------------------------------->
<div class="chest_each_patho" style="padding-bottom: 50px; margin-bottom: 0;">
  <h2 style="margin-top: 20px; font-weight: bold;">Pour vous accueillir:</h2>
  <div class="secretariat_orthoptiste">
    <div class="personnel">
      <h2>Au secrétariat</h2>
      <%= image_tag('inf_1.png', alt: "", class: "img_inf") %>
      <p><strong>Fabienne</strong><br>& <br> <strong>Christine</strong></p>
    </div>
    <div class="personnels_cards">
      <div class="personnel">
        <h2>Pour la pré-consultation</h2>
        <%= image_tag('doc_6.png', alt: "", class: "img_anne") %>
        <p><strong>Anne Aurore</strong> <br>Notre orthoptiste vous fera les mesures préliminaires à l'examen de l'ophtalmologiste.</p>
      </div>
      <div class="personnel">
      <%= image_tag('doc_4.png', alt: "", class: "img_eliane") %>
      <p><strong>Eliane</strong> <br>Infirmière qui aide notre orthoptiste et aide opératoire.</p>
      </div>
    </div>
  <!-- </div>
  <div class="personnels_cards"> -->
    <div class="personnel">
      <%= image_tag('doc_2.png', alt: "", class: "img_agnes") %>
      <p><strong>Agnès Fabrigoule</strong>. <br>Orthoptiste libérale réalise les visions binoculaires, la rééducation orthoptique et les champs visuels.</p>
    </div>
    </div>
    <h2 style="margin:50px auto 0 auto;">Les médecins</h2>
    <div class="personnels_cards">
      <div class="personnel" style="background-color: rgba(206, 20, 82, .9); top: -40px;">
        <%= image_tag('doc_5.png', alt: "", class: "img_nadine") %>
        <p><strong>Docteur Buzzacchera Nadine</strong>. Ancien interne des hopitaux de Marseille, chef de clinique à la faculté, spécialisée en chirurgie de la cataracte et du glaucome, chirurgie des paupières et chirurgie réfractive.</p>
      </div>
      <div class="personnel" style="background-color: rgba(206, 20, 82, .9); top: -40px;">
        <%= image_tag('doc_3.png', alt: "", class: "img_brigitte") %>
        <p><strong>Docteur Hervé-Fey Brigitte</strong>. Ancien interne des hopitaux de Marseille, chef de clinique à la faculté, spécialisée en chirurgie de la cataracte et du glaucome.</p>
      </div>
    </div>
  </div>
</div>
<!------------------------------------ description ------------------------------------------->
<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar' style="margin-top: -30px">
<%= image_tag('logo_ok.png', alt: "", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
