<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
    <%= image_tag('logo_ok.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->


<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "LE CENTRE", pages_centre_path%>
      <%= link_to "L'EQUIPE", pages_equipe_path, {style: 'border-bottom: 0.5px solid #363636;'}  %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path %>
      <a style='color:#207fde'>PRENDRE RENDEZ-VOUS</a>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->


<!------------------------------------ titre ------------------------------------------->
<h2 class="titre_center" style="margin-left: 13%;">L'EQUIPE</h2>
<!------------------------------------ titre ------------------------------------------->


<!------------------------------------ description ------------------------------------------->
<div class="chest_each_patho">
  <div class="position_row">
    <div class='text_centre'>
      <h2>Pour vous accueillir:</h2>
      <h2 style="font-size: smaller;"><br>au secrétariat :</h2>
      <p>Fabienne Savajol et Christine ....</p>
      <h2 style="font-size: smaller;"><br><br>Pour la pré-consultation,</h2>
       <p>Notre orthoptiste : Anne Aurore casini vous fera les mesures préliminaires à l'examen de l'ophtalmologiste.</p>
      <p><br>Aidée par notre infirmière et aide opératoire Eliane Michal</p>
      <h2 style="font-size: smaller;"><br>Au premier étage du centre</h2>
      <p>Agnès Fabrigoule, orthoptiste libérale réalise les visions binoculaires, la rééducation orthoptique et les champs visuels.</p>

      <h2><br><br>Les médecins:</h2>
      <p><br>Docteur Buzzacchera Nadine: Ancien interne des hopitaux de Marseille, chef de clinique à la faculté, spécialisée en chirurgie de la cataracte et du glaucome, chirurgie des paupières et chirurgie réfractive.</p>
      <p><br>Docteur Hervé-Fey Brigitte: Ancien interne des hopitaux de Marseille, chef de clinique à la faculté, spécialisée en chirurgie de la cataracte et du glaucome</p>





    </div>
  </div>
  <p><br><br></p>
<!------------------------------------ description ------------------------------------------->
</div>

<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag('logo_ok.png', alt: "", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
