<!-- BreadcrumbList -->
<script type="application/ld+json" nonce=<%= request.content_security_policy_nonce %>>
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "équipe",
      "item": "<%= equipe_url %>"
    }]
  }
</script>
<!-- End BreadcrumbList -->

<% content_for :meta_title, "Equipe d'#{DEFAULT_META["meta_title"]}" %>
<% content_for :meta_description, "Rencontrez notre équipe : le secretariat, la pré-consultation, les orthoptistes et les médecins : docteur Buzzacchera Nadine et docteur Soare Silvia" %>

<%= render "shared/navbar" %>

<h1 class="titre_center">L'EQUIPE</h1>
<div class="chest_each_patho pb-mb">
  <h2 class="medecins">Les médecins</h2>
  <div class="medecin_column">
    <div class="medecin_row wrap">
      <%= image_tag('Buzzacchera.jpg', alt: "Dr. Buzzacchera", class: "img-buzzacchera") %>
      <div class="equipe-txt">
        <p><strong>Docteur Buzzacchera Nadine</strong>. Ancienne interne des Hôpitaux de Marseille, chef de clinique à la faculté, chirurgie cataracte, glaucome, paupières et chirurgie réfractive.</p>
      </div>
    </div>
    <div class="medecin_row wrap-reverse">
      <div class="equipe-txt">
        <p><strong>Docteur Soare Silvia</strong>. Ancienne interne des Hôpitaux de Marseille, ancienne assistante des Hôpitaux de Marseille, chef de clinique des Universités.<br> DIU de Pathologie chirurgical rétino-vitréenne, DU Imagerie et pathologie rétinienne, DU des infections et inflammations oculaires</p>
      </div>
      <%= image_tag('Soare.jpg', alt: "Dr. Soare", class: "img-buzzacchera") %>
    </div>
  </div>
  <h2 class="accueil mt-4 text-center">Pour vous accueillir au secrétariat :</h2>
  <div class="secretariat_orthoptiste">
    <div class="personnel">
      <%= image_tag('inf_1.png', alt: "Fabienne et Christine", class: "img_inf") %>
      <p><strong>Fabienne</strong><br>& <br> <strong>Christine</strong></p>
    </div>
  </div>
  <h2 class="medecins">Pour la pré-consultation : </h2>
  <h4 class="medecins">Nos orthoptistes :</h4>
  <div class="medecin_column">
    <div class="medecin_row wrap">
      <%= image_tag('Aurelie.jpg', alt: "Aurelie", class: "img-buzzacchera") %>
      <p class="txt-orthoptiste"><strong>Aurélie et Anne Aurore</strong></p>
      <%= image_tag('Anne.jpg', alt: "Anne Aurore", class: "img-buzzacchera") %>
    </div>
    <div class="medecin_row wrap">
      <%= image_tag('doc_2.png', alt: "agnes", class: "img-buzzacchera") %>
      <div class="equipe-txt">
        <p><strong>Agnès Fabrigoule</strong>. <br>Orthoptiste libérale réalise les visions binoculaires, la rééducation orthoptique et les champs visuels.</p>
      </div>
    </div>
    <div class="medecin_row wrap-reverse">
      <div class="equipe-txt">
        <p><strong>Eliane</strong> <br>Infirmière qui aide notre orthoptiste et aide opératoire.</p>
      </div>
      <%= image_tag('doc_4.png', alt: "eliane", class: "img-eliane") %>
    </div>
  </div>
  </div>
</div>
<div class='bottom_bar d-flex'>
  <%= image_tag('logobleu.png', alt: "logo Ophta Miramas", class: 'img_prez') %>
  <p class="my-2 text-footer">Site internet réalisé par <%= link_to 'DataWeb Univers', 'https://www.data-web-univers.com', title: "Dataweb Univers", class: 'no_decoration text-footer' %></p>
</div>
