<!-- BreadcrumbList -->
<script type="application/ld+json" nonce=<%= request.content_security_policy_nonce %>>
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "Accueil",
      "item": "<%= root_url %>"
    }]
  }
</script>
<!-- End BreadcrumbList -->

<% content_for :meta_title, "#{DEFAULT_META["meta_title"]}: cabinet d'ophtalmologie à Miramas" %>

    <!-- Modal -->
<div class="container">
  <div class="modal hide fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Covid 19 :</h4>
        </div>
        <div class="modal-top">
          <div class="d-flex flex-center mb-2"><%= image_tag('logo_ok.png', alt: "photo centre", id: "img_logo") %></div> 
          <p class="mx-4">A partir du 27 Avril 2020 :</p>
          <p class="mx-4"><strong>Vous pouvez de nouveau prendre rdv en ligne</strong> ou par téléphone au 0490503350 le cabinet vous accueillera dans le respect des mesures de protection et d’hygiène :</p>
        </div>
        <div class="modal-body">
          <p class="mx-3 mb-1"> - Venez à votre rendez-vous à l’heure</p>
          <p class="mx-3 mb-1"> - Portez un masque si possible</p>
          <p class="mx-3 mb-1"> - Amenez un stylo et préférez le paiement par carte bancaire</p>
          <p class="mx-3 mb-1"> - Les accompagnants restent à l’extérieur (sauf enfant ou handicapé)</p>
          <p class="mx-3 mb-1"> - Si vous avez de la fièvre, toux , courbature, diarrhée, anosmie agueusie : reportez votre rendez-vous et appelez le 15</p>
          <p class="mx-3 mb-1"> - Lavage des mains à la solution hydro alcoolique à l’entrée</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
      </div>    
    </div>
  </div>
</div>

<div class='logo'>
  <%= link_to((root_path), title: "page d'accueil") do %>
  <%= image_tag('logo_ok.png', alt: "photo centre", id: "img_logo") %>
  <% end %>
</div>
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), title: "page d'accueil", class: 'a_img') do %>
    <%= image_tag('view.png', alt: "logo oeil", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", centre_path, title: 'le cabinet' %>
      <%= link_to "EQUIPE", equipe_path, title: "présentation de l'équipe" %>
      <%= link_to "LUNETTES", lunettes_path, title: 'rdv lunettes' %>
      <%= link_to "PATHOLOGIES", pathologies_path, title: 'présentation des pathologies occulaires' %>
      <%= link_to "CHIRURGIES", chirurgies_path, title: 'présentation des chirurgies' %>
      <%= link_to "RENDEZ-VOUS", "https://www.doctolib.fr/cabinet-medical/miramas/cabinet-d-ophtalmologie-miramas", title: 'site de prise de rendez-vous', target: '_blank', class: "link_rendez_vous color_link", rel: 'noopener nofollow' %>
    </div>
  </div>
</div>
<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= image_tag('banerbleue.png', alt: "enfant avec lunettes ophtalmologie", class:'banner') %>
    </div>
    <div class="swiper-slide">
      <%= image_tag('two_faces.png', alt: "deux visage enfant et adulte", class:'banner') %>
    </div>
    <!--     <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div> -->
  </div>
  <!-- Add Pagination -->
  <!--   <div class="swiper-pagination"></div> -->
  <!-- Add Arrows
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div> -->
</div>
<div class='chest_body'>
  <div class='bienvenue'>
      <p class='bienvenue_1 mt-5'>BIENVENUE</p>
      <p class='bienvenue_2'>dans notre centre d'ophtalmologie</p>
      <p class='bienvenue_4'>des docteurs Buzzacchera Nadine et Soare Silvia</p>
      <h1 class='bienvenue_3'>OPHTA MIRAMAS</h1>
  </div>
  <div class='presentation_home'>
    <%= link_to((equipe_path), title: "présentation de l'équipe (secrétariat, pré-consultation, médecins)", target: "_blank", class: 'presentation_home_1') do %>
    <%= image_tag('nurse-bustred.png', alt: "nurse", class: 'img_prez') %>
    <p>Une équipe qualifiée et dynamique à votre écoute</p>
    <% end %>
    <%= link_to((centre_path), title: 'présentation du centre', target: "_blank", class: 'presentation_home_2') do %>
    <%= image_tag('hospital-microscopered.png', alt: "hospital", class: 'img_prez') %>
    <p>Du matériel à la pointe de la technologie</p>
    <% end %>
    <%= link_to((chirurgies_path), title: 'chirurgies ophtalmologiques', target: "_blank", class: 'presentation_home_3') do %>
    <%= image_tag('growthred.jpg', alt: "growthred", class: 'img_prez') %>
    <p>Une prise en charge personnalisée et un accompagnement continu</p>
    <% end %>
    <%= link_to(("https://www.doctolib.fr/cabinet-medical/miramas/cabinet-d-ophtalmologie-miramas"), rel: 'noopener nofollow', title: 'site de prise de rendez-vous', target: "_blank", class: 'presentation_home_4') do %>
    <%= image_tag('calendarred.png', alt: "calendar", class: 'img_prez') %>
    <p>Une prise de rendez-vous en ligne</p>
    <% end %>
  </div>
  <p class='bienvenue_5'>Le Cabinet, ouvert du Lundi au vendredi, prend en charge différentes pathologies occulaires,
    <br>cataracte, glaucome, DMLA, diabète, chirurgie réfractive (myopie au laser), chirurgie des paupières et injections intra-vitréennes.</p>
  <%= link_to "PRENDRE RENDEZ-VOUS", "https://www.doctolib.fr/cabinet-medical/miramas/cabinet-d-ophtalmologie-miramas", title: 'site de prise de rendez-vous', class: "btn_rdv width_22 mt_80_mb_80", target: '_blank', rel: 'noopener nofollow' %>
  <div class="footer">
    <div class="column_gauche">
      <h2>Nous contacter</h2>
      <p>04 90 50 33 50</p>
      <p>Centre des spécialistes : Cabinet d'ophtalmologie - Ophta Miramas</p>
      <p>54 Bis Avenue Charles de Gaulle,
        <br>13140 Miramas</p>
      <p></p>
    </div>
    <div class="column_droite">
      <h2>Le conseil de l'ordre des médecins informe</h2>
      <p></p>
      <%= link_to 'Consulter la charte de conformité aux critères du CNOM', charte_path, title: 'page charte de conformité', class: 'lien_footer no_decoration charte' %>
      <p></p>
      <%= link_to 'Consulter le site d’information du CNOM', 'https://www.conseil-national.medecin.fr/publications/rapports/charte-conformite-deontologique-sites-web-medecins', title: 'site d’information du CNOM', class: 'lien_footer no_decoration', target: '_blank', rel: 'noopener nofollow' %>
      <p></p>
      <%= link_to 'Consulter l’annuaire du Conseil de l’Ordre', 'https://www.conseil-national.medecin.fr/annuaire', title: 'annuauire du CNOM', class: 'lien_footer no_decoration', target: '_blank', rel: 'noopener nofollow' %>
    </div>
  </div>
</div>
<div class='bottom_bar d-flex'>
  <%= image_tag('logobleu.png', alt: "logo Ophta Miramas", class: 'img_prez') %>
  <p class="my-2 text-footer">Site internet réalisé par <%= link_to 'DataWeb Univers', 'https://www.data-web-univers.com', title: "Dataweb Univers", class: 'no_decoration text-footer' %></p>
</div>
