<!-- BreadcrumbList -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "home",
      "item": "<%= root_url %>"
    }]
  }
</script>
<!-- End BreadcrumbList -->

<% content_for :meta_title, "#{DEFAULT_META["meta_title"]}: ophtalmologie à Miramas" %>
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag('logobleu.png', alt: "logo OphtaMiramas", id: "img_logo") %>
  <% end %>
</div>
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
    <%= image_tag('view.png', alt: "logo oeil", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", pages_centre_path %>
      <%= link_to "EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path %>
      <%= link_to "RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", style: 'color:#207fde', target: '_blank', class: "link_rendez_vous", rel: 'nofollow' %>
    </div>
  </div>
</div>
<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= image_tag('banerbleue.jpg', alt: "enfant avec lunettes ophtalmologie", class:'banner') %>
    </div>
    <div class="swiper-slide">
      <%= image_tag('two_faces.jpg', alt: "deux visage enfant et adulte", class:'banner') %>
    </div>
    <!--     <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div> -->
  </div>
  <!-- Add Pagination -->
  <!--   <div class="swiper-pagination"></div> -->
  <!-- Add Arrows
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div> -->
</div>
<div class='chest_body'>
  <div class='bienvenue'>
    <h1>BIENVENUE</h1>
    <h2>dans notre cabinet d'ophtalmologie</h2>
    <h3>OPHTA MIRAMAS</h3>
  </div>
  <div class='presentation_home'>
    <%= link_to((pages_equipe_path), target: "_blank", class: 'presentation_home_1') do %>
    <%= image_tag('nurse-bustred.png', alt: "nurse", style: "width: 60px") %>
    <p>Une équipe qualifiée et dynamique à votre écoute</p>
    <% end %>
    <%= link_to((pages_centre_path), target: "_blank", class: 'presentation_home_2') do %>
    <%= image_tag('hospital-microscopered.png', alt: "hospital", style: "width: 60px") %>
    <p>Du matériel à la pointe de la technologie</p>
    <% end %>
    <%= link_to((chirurgies_path), target: "_blank", class: 'presentation_home_3') do %>
    <%= image_tag('growthred.jpg', alt: "growthred", style: "width: 60px") %>
    <p>Une prise en charge personnalisée et un accompagnement continu</p>
    <% end %>
    <%= link_to(("https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php"), target: "_blank", class: 'presentation_home_4') do %>
    <%= image_tag('calendarred.png', alt: "calendar", style: "width: 60px") %>
    <p>Une prise de rendez-vous en ligne</p>
    <% end %>
  </div>
  <div class="cartels_equipe">
    <div class="image"></div>
    <div class="texte">
      <div class="contenu">
        <h2></h2>
        <p></p>
      </div>
    </div>
  </div>
  <!--
  <div class='cartels_up'>
    <div class='cartel_cataracte cartel_tout flex_column'>
      <div class="text_cartel">
        <h2>CATARACTE</h2>
        <p>Votre vision se trouble, vous êtes éblouis la nuit et vous êtes âgé de plus de 60 ans.
          <br> <br>Peut-être êtes-vous atteint d'une cataracte ?
          <br> <br>Vous souhaitez connaître les modalités de prise en charge (avant, pendant et après l'intervention).
        </p>
      </div>
      <a><p class='plus_patho'>En savoir plus</p></a>
    </div>
    <div class='cartel_injections cartel_tout flex_column'>
      <div class="text_cartel">
        <h2>INJECTIONS INTRA-VITRÉENNES</h2>
        <p>Vous avez une DMLA, une atteinte rétinienne secondaire à votre diabète ou à un problème vasculaire.
          <br> <br>Ces pathologies peuvent bénéficier d'injections.
          <br> <br>Vous souhaitez connaître les modalités de prise en charge (avant, pendant et après l'intervention).
        </p>
      </div>
      <a><p class='plus_patho'>En savoir plus</p></a>
    </div>
    <div class='cartel_paupieres cartel_tout flex_column'>
      <div class="text_cartel">
        <h2>CHIRURGIE DES PAUPIÈRES</h2>
        <p>Rides, poches, regard triste, sévère ou fatigué ?
          <br>  <br>Améliorer votre image et votre bien être, avec un résultat naturel ?
          <br>  <br>Les injections de toxine botulique (botox) ou d'acide hyaluronique sont des solutions efficaces et simples.
        </p>
      </div>
      <a><p class='plus_patho'>En savoir plus</p></a>
    </div>
  </div>
  <div class='cartels_down'>
    <div class='cartel_pathologies cartel_tout flex_column'>
      <div class="text_cartel">
        <h2>PATHOLOGIES</h2>
        <p>Lexique et définitions des pathologies ophtalmologiques bénignes ou plus graves.
          <br> <br>Permet la compréhension facile d'atteintes courantes.
          <br> <br>Chalazion (compère), décollement du vitré, conjonctivite, DMLA, décollement de rétine, corps flottants...
        </p>
      </div>
      <a><p class='plus_patho'>En savoir plus</p></a>
    </div>
    <div class='cartel_laser cartel_tout flex_column'>
      <div class="text_cartel">
        <h2>CHIRURGIE LASER</h2>
        <p>Vous souhaitez ne plus porter de lunettes ou de lentilles.
          <br> <br>Vous êtes myope, hypermétrope, astigmate ou même presbyte.
          <br> <br>Vous pouvez certainement bénéficier d'un traitement.
        </p>
      </div>
      <a><p class='plus_patho'>En savoir plus</p></a>
    </div>
  </div> -->
  <%= link_to "PRENDRE RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", class: "btn_rdv", target: '_blank', rel: 'nofollow' %>
</div>
<div class='bottom_bar'>
  <%= image_tag('logobleu.png', alt: "logo OphtaMiramas", style: "width: 60px") %>
</div>
