<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
    <%= image_tag('logobleu.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->


<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", pages_centre_path %>
      <%= link_to "EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path %>
      <%= link_to "RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", style: 'color:#207fde', target: '_blank', class: "link_rendez_vous" %>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->


<!------------------------------------ banner ------------------------------------------->
<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= image_tag('banerbleue.jpg', alt: "", class:'banner') %>
    </div>
    <div class="swiper-slide">
      <%= image_tag('two_faces.jpg', alt: "", class:'banner') %>
    </div>
<!--     <div class="swiper-slide">

    </div>
    <div class="swiper-slide">

    </div>
    <div class="swiper-slide">

    </div>
    <div class="swiper-slide">

    </div>
    <div class="swiper-slide">

    </div>
    <div class="swiper-slide">

    </div>
    <div class="swiper-slide">

    </div>
    <div class="swiper-slide">

    </div> -->
  </div>
  <!-- Add Pagination -->
<!--   <div class="swiper-pagination"></div> -->
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<%#= image_tag('banerbleue.jpg', alt: "", class:'banner') %>
<%#= image_tag('two_faces.jpg', alt: "", class:'banner') %>
<!------------------------------------ banner ------------------------------------------->


<!---------------------------------- bienvenue ------------------------------------------>
<div class='chest_body'>
  <div class='bienvenue'>
    <h2>BIENVENUE</h2>
    <h3>dans notre cabinet d'ophtalmologie</h3>
    <h4>OPHTA MIRAMAS</h4>
  </div>
<!---------------------------------- bienvenue ------------------------------------------>


<!---------------------------------- présentation ------------------------------------------>
  <div class='presentation_home'>
    <div class='presentation_home_1'>
      <%= image_tag('nurse-bustred.png', alt: "", style: "width: 60px") %>
      <p>Une équipe qualifiée et dynamique à votre écoute</p>
    </div>
    <div class='presentation_home_2'>
      <%= image_tag('hospital-microscopered.png', alt: "", style: "width: 60px") %>
      <p>Du matériel à la pointe de la technologie</p>
    </div>
    <div class='presentation_home_3'>
      <%= image_tag('growthred.jpg', alt: "", style: "width: 60px") %>
      <p>Une prise en charge personnalisée et un accompagnement continu</p>
    </div>
    <div class='presentation_home_4'>
      <%= image_tag('calendarred.png', alt: "", style: "width: 60px") %>
      <p>Une prise de rendez-vous en ligne</p>
    </div>
  </div>
<!---------------------------------- présentation ------------------------------------------>


<!---------------------------------- bouton rendez-vous ------------------------------------------>
  <%= link_to "PRENDRE RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", class: "btn_rdv", target: '_blank' %>
</div>
<!---------------------------------- bouton rendez-vous ------------------------------------------>


<!---------------------------------- bottom bar ------------------------------------------>
<div class='bottom_bar'>
  <%= image_tag('logobleu.png', alt: "", style: "width: 60px") %>
</div>
<!---------------------------------- bottom bar ------------------------------------------>
