<% content_for :meta_title, "Rendez-vous rapide Lunettes - #{DEFAULT_META["meta_title"]}" %>
<% content_for :meta_description, "Prenez un rendez-vous rapide pour une vérification de votre vue et une prescription ou un renouvellement de vos lunettes." %>
<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
    <%= image_tag('logo_ok.png', alt: "logo OphtaMiramas", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->


<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag('view.png', alt: "ogo oeil", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", pages_centre_path %>
      <%= link_to "EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path %>
      <%= link_to "RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", style: 'color:#207fde', target: '_blank', class: "link_rendez_vous", rel: 'nofollow' %>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->


<!------------------------------------ titre ------------------------------------------->
<h1 class="titre_pathologies">RENDEZ-VOUS RAPIDE : LUNETTES</h1>
<!------------------------------------ titre ------------------------------------------->


<div class='chest_each_patho'>
    <div class="conteneur_text_image">
      <div class="textes_lunettes">

        <div class="textes_lunettes2">
        <h2>Lunettes</h2>
        <p>Dans le cas où vous souhaitez prendre rendez-vous pour une vérification de votre vue et une prescription ou un renouvellement de vos lunettes, vous avez la possibilité d'être reçu(e) par un(e) orthoptiste qui réalisera une réfraction, la prise de votre tension occulaire, une pachymétrie coméenne et des rétinograhies du fond d’oeil.</p>
        <p>Cette consultation vous sera facturé 28 euros.</p>
        <p>L’ophtalmologiste examine ensuite le dossier et, sans pathologies détéctées, fera envoyer l’ordonnance dans les 8 jours suivants.</p>
        <p>Dans le cas où une anomalie ou une pathologies est détectée, vous serez reconvoqué(e) au cabinet pour une consultation complémentaire.</p>
        </div>

        <div class="image_lunette_back"></div>

      </div>
    </div>
      <h2>Conditions</h2>
      <p><br>Pour prendre un rendez-vous rapide, certaines conditions doivent être respectées :</p>
      <p>- Etre âgé de 6 à 49 ans (inclus)</p>
      <p>- Ne souhaiter qu’une prescription de lunettes (pas de lentilles de contact)</p>
      <p>- Ne pas avoir de maladie oculaire connue (ou familiale)</p>
      <p>- Ne pas avoir l’œil rouge ou douloureux, ni de baisse d’acuité visuelle profonde et récente.</p>
      <p>- Avoir consulté chez l’ophtalmologiste depuis moins de 5 ans</p>
      <%= link_to "PRENDRE UN RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", class: "btn_rdv", target: '_blank' %>
    </div>

  </div>



<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag('logo_ok.png', alt: "logo OphtaMiramas", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
