<!-- BreadcrumbList -->
<script type="application/ld+json" nonce=<%= request.content_security_policy_nonce %>>
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "lunettes",
      "item": "<%= lunettes_url %>"
    }]
  }
</script>
<!-- End BreadcrumbList -->

<% content_for :meta_title, "Rendez-vous rapide Lunettes - #{DEFAULT_META["meta_title"]}" %>
<% content_for :meta_description, "Prenez un rendez-vous rapide pour une vérification de votre vue et une prescription ou un renouvellement de vos lunettes." %>

<%= render "shared/navbar" %>

<h1 class="titre_pathologies">RENDEZ-VOUS RAPIDE : LUNETTES</h1>
<div class='chest_each_patho'>
  <div class="conteneur_text_image">
    <div class="textes_lunettes">
      <div class="textes_lunettes2">
        <h2>Lunettes</h2>
        <p>Dans le cas où vous souhaitez prendre rendez-vous pour une vérification de votre vue et une prescription ou un renouvellement de vos lunettes, vous avez la possibilité d'être reçu(e) par un(e) orthoptiste qui réalisera une réfraction, la prise de votre tension occulaire, une pachymétrie coméenne et des rétinograhies du fond d’oeil.</p>
        <p>Cette consultation vous sera facturé 28 euros.</p>
        <p>L’ophtalmologiste examine ensuite le dossier et, sans pathologies détéctées, fera envoyer l’ordonnance dans les 8 jours suivants.</p>
        <p>Dans le cas où une anomalie ou une pathologies est détectée, vous serez reconvoqué(e) au cabinet pour une consultation complémentaire.</p>
      </div>
    </div>
  </div>
  <h2>Conditions</h2>
  <p><br>Pour prendre un rendez-vous rapide, certaines conditions doivent être respectées :</p>
  <p>- Etre âgé de 6 à 49 ans (inclus)</p>
  <p>- Ne souhaiter qu’une prescription de lunettes (pas de lentilles de contact)</p>
  <p>- Ne pas avoir de maladie oculaire connue (ou familiale)</p>
  <p>- Ne pas avoir l’œil rouge ou douloureux, ni de baisse d’acuité visuelle profonde et récente.</p>
  <p>- Avoir consulté chez l’ophtalmologiste depuis moins de 5 ans</p>
  <div class="dropdown">
    <%= link_to "PRENDRE RENDEZ-VOUS", "#", title: 'site de prise de rendez-vous', target: '_blank', class: "btn_rdv dropdown-toggle", rel: 'noopener nofollow', "role" => "button", id: "dropdownMenuLink", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false" %>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to "Dr Nadine Buzzacchera", "https://www.doctolib.fr/ophtalmologue/miramas/silvia-soare-miramas", title: 'prendre rendez-vous avec le dr Nadine Buzzacchera', class: 'dropdown-item mx-2' %>
      <%= link_to "Dr Silvia Soare", "https://www.doctolib.fr/ophtalmologue/miramas/silvia-soare-miramas", title: 'prendre rendez-vous avec le dr Silvia Soare', class: 'dropdown-item mx-2' %>
    </div>
  </div>
</div>
<div class='bottom_bar d-flex'>
  <%= image_tag('logobleu.png', alt: "logo Ophta Miramas", class: 'img_prez') %>
  <p class="my-2 text-footer">Site internet réalisé par <%= link_to 'DataWeb Univers', 'https://www.data-web-univers.com', title: "Dataweb Univers", class: 'no_decoration text-footer' %></p>
</div>
