<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag(asset_path('logo_ok'), alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->


<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag(asset_path('view'), alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "LE CENTRE", pages_centre_path %>
      <%= link_to "L'EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <%= link_to "PATHOLOGIES", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path %>
      <a style='color:gray'>PRENDRE RENDEZ-VOUS</a>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->


<!------------------------------------ titre ------------------------------------------->
<h2 class="titre_pathologies" style="margin-left: 7%;">RENDEZ-VOUS RAPIDE : LUNETTES</h2>
<!------------------------------------ titre ------------------------------------------->


<div class='chest_each_patho'>
  <div class="vide"></div>
    <div class="conteneur_text_image">
      <div class="textes">
        <p></p>

        <h2>Lunettes</h2>
        <p><br>Le patient est reçu uniquement par un orthoptiste qui réalise une réfraction, une prise de tension occulaire, une pachymétrie coméenne et des rétinograhies du fond d’oeil.
        <br><br>L’ophtalmologiste examine le dossier sous 10 jours et décide, soit d’envoyer l’ordonnance des lunettes au patient, soit de le convoquer au cabinet pour le recevoir lui-même et faire des examens complémentaires.
        <br><br></p>

      </div>
      <%= image_tag(asset_path('lunettes_view'), alt: "", class: "image_pathology") %>
    </div>

        <p><br></p>

        <h2>Conditions</h2>
        <p><br>Il s’agit un protocole de délégation vers l’orthoptiste nouvellement autorisé par l’assurance maladie, intitulé protocole ROTTIER.</p>
        <p><br> Certaines conditions doivent être respectées :</p>
        <p>- Je suis âgé de 6 à 49 ans (inclus)</p>
        <p>- Je ne souhaite qu’une prescription de lunettes (pas de lentilles de contact)</p>
        <p>- Je n’ai pas de maladie oculaire connue ou familiale)</p>
        <p>- Je n’ai pas l’œil rouge ou douloureux, ni de baisse d’acuité visuelle profonde et récente.</p>
        <p>- J’ai effectué une consultation chez l’ophtalmologiste depuis moins de 5 ans</p>

        <p><br><br></p>

    </div>


<!------------------------------------ button rendez-vous ------------------------------------------->
    <a class="btn_rdv">PRENDRE UN RENDEZ-VOUS</a>
  </div>
<!------------------------------------ button rendez-vous ------------------------------------------->


<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag(asset_path('logo_ok'), alt: "", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
