<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
    <%= image_tag('logo_ok.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->


<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "LE CENTRE", pages_centre_path %>
      <%= link_to "L'EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path %>
      <a style='color:#207fde'>PRENDRE RENDEZ-VOUS</a>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->


<!------------------------------------ titre ------------------------------------------->
<h2 class="titre_center" style="margin-left: 13%;">LE CENTRE</h2>
<!------------------------------------ titre ------------------------------------------->

  <%= link_to(("https://www.google.fr/maps/place/54+Avenue+Charles+de+Gaulle,+13140+Miramas/@43.5842536,4.99973,17z/data=!3m1!4b1!4m5!3m4!1s0x12b603bf3a8aa1a7:0x4e4fa9953db8c285!8m2!3d43.5842497!4d5.0019187"), target: "_blank") do %>
    <%= image_tag('map.png', class: "map", alt: "") %>
  <% end %>
  <p><br><br></p>
<!------------------------------------ description ------------------------------------------->

<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag('logo_ok.png', alt: "", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
