<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag('logobleu.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->
<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
    <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "LE CENTRE", pages_centre_path %>
      <%= link_to "L'EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <a style='color:#207fde'>PRENDRE RENDEZ-VOUS</a>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->
<!------------------------------------ titre ------------------------------------------->
<h2 class="titre_center">TÉLÉCHARGEMENTS</h2>
<!------------------------------------ titre ------------------------------------------->
<!------------------------------------ description ------------------------------------------->
<div class="chest_centre" style="height: 800px;">
  <div class="position_row">
    <div class='text_centre'>
      <div class="cartel_center1" style="height: 100%;">
        <%= image_tag(asset_path("pdf.png")) %>
        <p style="text-align: center;margin-left: auto;margin-right: auto;width: 80%; padding: 30% 0;">Vous trouverez ici <strong>toutes les informations</strong> sur les interventions chirurgicales à télécharger en PDF</p>
      </div>
      <div class="cartel_center2" style="height: 80%:">
        <p class="text01" style="border-bottom:0px; padding-bottom:0px;">Cataracte</p>
        <div class="text02">
          <%= link_to(("https://docs.wixstatic.com/ugd/62de3d_07547f46eae549008299ee2ddc46784c.pdf"), class: 'pdflink') do %>
            <%= image_tag(asset_path("pdf.png"), style:"background-color:white;border-radius:5px;") %>
          <% end %>
          <br>SFO / Feuille d'information sur la chirurgie <br><br>
          <%= link_to("https://docs.wixstatic.com/ugd/62de3d_07547f46eae549008299ee2ddc46784c.pdf") do %>
            <%= image_tag(asset_path("pdf.png"), style:"background-color:white;border-radius:5px;") %>
          <% end %>
          <br>SFO / Feuille d'information cataracte secondaire-YAG <br><br>
          <%= link_to("https://docs.wixstatic.com/ugd/62de3d_07547f46eae549008299ee2ddc46784c.pdf") do %>
            <%= image_tag(asset_path("pdf.png"), style:"background-color:white;border-radius:5px;") %>
          <% end %>
          <br>SFO / Feuille d'information implants premiums</div>
        <p></p>
        <p class="text01" style="border-bottom:0px; padding-bottom:0px;">Chirurgie réfractive au laser</p>
        <div class="text02">
          <%= link_to("https://docs.wixstatic.com/ugd/62de3d_07547f46eae549008299ee2ddc46784c.pdf") do %>
            <%= image_tag(asset_path("pdf.png"), style:"background-color:white;border-radius:5px;") %>
          <% end %>
          <br>Feuille d'information sur la chirurgie / SFO</div>
        <p></p>
        <p class="text01" style="border-bottom:0px; padding-bottom:0px;">Injection intra-vitréennes</p>
        <div class="text02">
          <%= link_to("https://docs.wixstatic.com/ugd/62de3d_07547f46eae549008299ee2ddc46784c.pdf") do %>
            <%= image_tag(asset_path("pdf.png"), style:"background-color:white;border-radius:5px;") %>
          <% end %>
          <br>SFO / Feuille d'information sur les IVTs</div>
        <p></p>
      </div>
    </div>
  </div>
  <!------------------------------------ description ------------------------------------------->
</div>
<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag('logobleu.png', alt: "", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
