<% content_for :meta_title, "Ophtalmologie #{DEFAULT_META["meta_title"]} : glaucome" %>
<% content_for :meta_description, "Renseignez vous sur le glaucome : définition, symptômes, traitements, conséquences, quand dois-je consulter..." %>
<div class='logo'>
  <%= link_to root_path do %>
    <%= image_tag('logo_ok.png', alt: "logo OphtaMiramas", id: "img_logo") %>
  <% end %>
</div>
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag('view.png', alt: "logo oeil", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", pages_centre_path %>
      <%= link_to "EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <%= link_to "CHIRURGIES", chirurgies_path %>
      <%= link_to "RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", style: 'color:#207fde', target: '_blank', class: "link_rendez_vous", rel: 'nofollow' %>
    </div>
  </div>
</div>
<h1 class="titre_pathologies" style="margin-left: 13%;">GLAUCOME</h1>
<div class='chest_each_patho'>
    <div class="conteneur_text_pathologies">
      <div class="textes">
        <h2 class="titre_path">Définition</h2>
        <%= image_tag('glaucome.jpg', alt: "schema glaucome", class: "image_pathology") %>
        <p><br>L’augmentation de la pression oculaire retentit sur le fonctionnement du nerf optique, en détruisant progressivement les fibres visuelles, aboutissant à une amputation, elle aussi progressive du champ visuel.</p>
        <p>On distingue principalement le glaucome aigu (ou glaucome par fermeture de l’angle) qui est relativement rare et le glaucome chronique (ou glaucome à angle ouvert), forme la plus fréquente.</p>

      </div>
        <h2>Symptômes</h2>
        <p><br>Il n’est généralement difficile de s’apercevoir de l’atteinte visuelle liée au glaucome. Pendant très longtemps, la vision devant soi est conservée car les déficits du champ de vision surviennent très lentement, que les deux yeux ne sont pas toujours atteints de la même façon (et donc, un œil peut compenser l’autre).</p>
        <p>Seul, l’ophtalmologiste est capable de dépister les premiers signes de l’atteinte en examinant le nerf optique et en demandant que le champ visuel soit mesuré. Le glaucome est une maladie sournoise, « elle entre sans frapper », selon l’expression souvent consacrée. L’atteinte du nerf optique qu’elle entraîne est irréversible, et il ne faut donc pas attendre pour se faire dépister et traiter.</p>
        <p>Dans le glaucome aigu, les choses sont différentes : la montée de la pression oculaire est très rapide, en quelques heures, et le patient ressent des douleurs de l’œil, une rougeur oculaire, voire même des nausées et des vomissements. La vision est rapidement brouillée, et le patient peut percevoir des halos colorés autour des lumières vives. Le glaucome aigu est une urgence qui nécessite de consulter en urgence, car la vue peut être irrémédiablement compromise.</p>

        <h2>Les traitements</h2>
        <p><br>De nombreux traitements médicaux existent, sous forme de collyres essentiellement. En cas d’échecs de ceux-ci, il faut avoir recours au laser ou à la chirurgie.</p>
        <p>Dans l’immense majorité des cas, le glaucome est contrôlable, à condition d’être régulièrement suivi par son ophtalmologiste.</p>

        <h2>Les conséquences</h2>
        <p><br>Le glaucome est la deuxième cause de cécité dans le monde dans les pays les moins développés après la cataracte.</p>
        <p>Le glaucome provoque une diminution irrémédiable du champs visuel.</p>

        <h2>Quand dois-je consulter ?</h2>
        <p><br>Une surveillance régulière de la pression occulaire chez son ophtalmologiste est indispensable après 40 ans.</p>
       </div>
    </div>

</div>
<div class='bottom_bar'>
  <%= image_tag('logo_ok.png', alt: "logo OphtaMiramas", style: "width: 60px") %>
</div>
