<% content_for :meta_title, "ophtalmologie #{DEFAULT_META["meta_title"]} : toutes les pathologies occulaires" %>
<% content_for :meta_description, "Renseignez vous sur les pathologies occulaires : glaucome, diabète, DMLA, décolement de la rétine et autres..." %>
<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
    <%= image_tag('logobleu.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->


<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", pages_centre_path %>
      <%= link_to "EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <%= link_to "CHIRURGIES", chirurgies_path %>
      <%= link_to "RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", style: 'color:#207fde', target: '_blank', class: "link_rendez_vous" %>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->


<!------------------------------------ titre ------------------------------------------->
<h2h1 class="titre_pathologies">PATHOLOGIES OCCULAIRES</h1>
<!------------------------------------ titre ------------------------------------------->


<div class='chest_patho'>
  <div class="vide"></div>
<!------------------------------------ carte glaucome ------------------------------------------->
  <% @pathologies.each do |maladie| %>
    <% if maladie.nom == 'Glaucome' %>

        <div class='link_glaucome'>
          <h2>GLAUCOME</h2>
          <p>Le glaucome est une maladie occulaire qui touche surtout les personnes de plus de 45 ans. Il est dû à une montée de la pression occulaire, entrainant un atteinte du nerf optique et du champs visuel.</p>
          <%= link_to(pathology_path(maladie)) do %>
          <h4>En savoir plus</h4>
        </div>
      <% end %>
    <% end %>
  <% end %>
<!------------------------------------ carte glaucome ------------------------------------------->


<!------------------------------------ carte diabète ------------------------------------------->
  <% @pathologies.each do |maladie| %>
    <% if maladie.nom == 'Diabète' %>

        <div class='link_diabete'>
          <h2>DIABÈTE</h2>
          <p>La rétinopathie diabétique (atteintes des yeux: oeil et rétine) est une grave complication du diabète qui touche 50% des patients diabétiques de type 2. En france, elle est la première cause de cécité avant 65 ans</p>
          <%= link_to(pathology_path(maladie)) do %>
          <h4>En savoir plus</h4>
        </div>
      <% end %>
    <% end %>
  <% end %>
<!------------------------------------ carte diabète ------------------------------------------->


<!------------------------------------ carte DMLA ------------------------------------------->
  <% @pathologies.each do |maladie| %>
    <% if maladie.nom == 'DMLA' %>

        <div class='link_dmla'>
          <h2>DMLA</h2>
          <p>La dégénérescence de la macula liée à l'âge est une pathologie qui touche les patients de plus 55 ans. Elle entraîne une baisse de vue centrale avec des taches noires et des déformations.</p>
          <%= link_to(pathology_path(maladie)) do %>
          <h4>En savoir plus</h4>
        </div>
      <% end %>
    <% end %>
  <% end %>
<!------------------------------------ carte DMLA ------------------------------------------->


<!-------------------------- carte Décollement de la rétine --------------------------------->
  <% @pathologies.each do |maladie| %>
    <% if maladie.nom == 'Décolement de la rétine' %>
        <div class='link_decollement_retine'>
          <h2>DÉCOLLEMENT DE LA RETINE</h2>
          <p>Baisse de vue brutale, non résolutive avec amputation d'une partie du champ visuel.
          Souvent précédé "d'éclairs lumineux" ou de "mouches en abondance".</p>
          <%= link_to(pathology_path(maladie)) do %>
          <h4>En savoir plus</h4>
        </div>
      <% end %>
    <% end %>
  <% end %>
<!-------------------------- carte Décollement de la rétine --------------------------------->


<!------------------------------- carte autres maladies -------------------------------------->

        <div class='link_autres_maladies'>
          <h2>AUTRES MALADIES RETINIENNES</h2>
          <p>Uvéite, occlusion artérielle et véneuse rétinienne, membrane épirétinienne et autres sont explorées et traitées au cabinet ou adressées en centre spécialisé de la rétine</p>
        </div>
<!------------------------------- carte autres maladies -------------------------------------->
  </div>


<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag('logobleu.png', alt: "", style: "width: 60px") %>
</div>
<!----------------------------------- bottom bar ------------------------------------------->
