<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag(asset_path('logo_ok'), alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->


<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag(asset_path('view'), alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "LE CENTRE", pages_centre_path %>
      <%= link_to "L'EQUIPE", pages_centre_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "PATHOLOGIES", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <a style='color:gray'>PRENDRE RENDEZ-VOUS</a>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->


<!------------------------------------ titre ------------------------------------------->
<h2 class="titre_pathologies" style="margin-left: 7%;">CATARACTE : vous venez d'être opéré(e): que faire ?</h2>
<!------------------------------------ titre ------------------------------------------->


    <div class='chest_each_patho'>
      <div class="vide"></div>
      <h2>Quand puis-je rentrer à mon domicile ?</h2>
      <p><br>Une fois la chirurgie terminée, une infirmière vous donnera toutes les consignes post-opératoires (que faire du pansement, comment et quand mettre les gouttes, dates post-opératoire, etc...) et vous proposera une collation.</p>

      <p></p>

      <p>Après votre sortie administrative, vous êtes libre !</p>
      <p></p>

      <p>Entre votre entrée et votre sortie, souvent moins de 2h30 se seront écoulées.</p>

      <p><br></p>

      <h2>Quand vais-je revoir ? Vais-je avoir mal ?</h2>
      <p><br>Dans la très grande majorité des cas (95%), l’œil opéré de la cataracte est indolore.</p>

      <p></p>

      <p>La vision s’améliore très rapidement, souvent dès le lendemain, et une correction adaptée par lunettes peut être prescrite au bout de quelques semaines.</p>

      <p></p>

      <p>Les soins locaux sont réduits à l’instillation de gouttes.</p>

      <p><br></p>

      <h2>Que faire de mon pansement ?</h2>
      <p>Le pansement ou rondelle oculaire doit être retiré le soir même de l'intervention, vers 19h. Il ne sera plus nécessaire d'en porter les jours suivants, ni même les nuits suivantes.</p>

      <p><br></p>

      <h2>Quand dois-je cmmencer à mettre les gouttes</h2>
      <p><br>Vous devez instiller les premières gouttes aussitôt le pansement retiré, soit le premier soir.</p>

      <p></p>

      <p>Vous pouvez instiller les différents traitement à la suite, en attendant une minute entre chaque traitement.</p>

      <p><br></p>

      <h2>Qui doit m'instiller les gouttes ?</h2>
      <p><br>Dans la mesure du possible, c'est vous qui devez les instiller.</p>

      <p></p>

      <p>Ce n'est pas compliqué, en s'aidant d'un miroir.</p>

      <p></p>

      <p>Attention, pensez à toujours vous laver les mains avant d'appliquer le traitement.</p>

      <p></p>

      <p>Il n'y a aucun risque à instiller plusieurs gouttes d'un même traitement, l'essentiel étant de mettre au moins une goutte dans l’œil. Une unidose comprend assez de gouttes pour faire des "erreurs". Il n'y a donc aucun souci si des gouttes tombent sur votre joue ou au sol.</p>

      <p></p>

      <p>Dans l'impossibilité de réaliser ce traitement vous même, demandez de l'aide à votre famille ou votre entourage (voisins, amis...). En dernier recours, vous pouvez faire appel à une infirmière diplômée d'état qui viendra faire les soins à domicile (l'ordonnance sera rédigée par le médecin).</p>

      <p><br></p>

      <h2>Quand aura lieu le contrôle post-opératoire ?</h2>
      <p><br>Après votre intervention, le médecin vous remettra un dossier complet post-opératoire personnalisé.</p>

      <p></p>

      <p>Dans celui-ci figure la date et l'heure de votre rendez-vous prévu au centre ophtalmologique PointVision à Lesquin. En cas d'impossibilité de vous rendre à ce rendez-vous, merci de contacter le secrétariat via le numéro de téléphone indiqué.</p>

      <p><br><br></p>

<!-------------------------------------- liens détails --------------------------------------------->
    <div class='bottom_elements'>
      <%= link_to (chirurgy_bilancliniquepreoperatoire_path(@consigne.chirurgie)), class: "bottom_description" do %>
        <h2>Bilan clinique pré-opératoire</h2>
        <p>Contenu de la consultation préalable à toute chirurgie au cabinet</p>
        <h4>En savoir plus</h4>
      <% end %>
      <div class="ligne"></div>
      <%= link_to (chirurgy_preparerlintervention_path(@consigne.chirurgie)), class: "bottom_description" do %>
        <h2>Preparer l'intervention</h2>
        <p>Les éléments essentiels à préparer avant l'intervention</p>
        <h4>En savoir plus</h4>
      <% end %>
      <div class="ligne"></div>
      <%= link_to (chirurgy_consignepostoperatoire_path(@consigne.chirurgie)), class: "bottom_description" do %>
        <h2>Consignes post-opératoires</h2>
        <p>Après la chirurgie, que faire ?</p>
        <h4>En savoir plus</h4>
      <% end %>
    </div>
<!-------------------------------------- liens détails --------------------------------------------->


<!------------------------------------ button rendez-vous ------------------------------------------->
    <a class="btn_rdv">PRENDRE UN RENDEZ-VOUS</a>
  </div>
<!------------------------------------ button rendez-vous ------------------------------------------->


<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag(asset_path('logo_ok'), alt: "", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
