<% content_for :meta_title, "#{DEFAULT_META["meta_title"]}, chirurgie de la cataracte : post-opératoire" %>
<% content_for :meta_description, "Chirurgie de la cataracte, consignes post-opératoires : Quand rentrer à son domicile ? Comment mettre les gouttes ? quand aura lieu le contrôle post-op ?" %>
<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
    <%= image_tag('logo_ok.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->


<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", pages_centre_path %>
      <%= link_to "EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <%= link_to "RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", style: 'color:#207fde', target: '_blank', class: "link_rendez_vous" %>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->


<!------------------------------------ titre ------------------------------------------->
<h2 class="titre_pathologies">CATARACTE : vous venez d'être opéré(e): que faire ?</h2>
<!------------------------------------ titre ------------------------------------------->


    <div class='chest_each_patho'>
  <div class="conteneur_text_bilantech">
    <div class="textes">
      <h2 style="border-radius: 0 20px 0 0">Quand puis-je rentrer à mon domicile ?</h2>
      <p>Une fois la chirurgie terminée, une infirmière vous donnera toutes les consignes post-opératoires (que faire du pansement, comment et quand mettre les gouttes, dates post-opératoire, etc...) et vous proposera une collation.</p>


      <p>Après votre sortie administrative, vous êtes libre !</p>


      <p>Entre votre entrée et votre sortie, souvent moins de 2h30 se seront écoulées.</p>



      <h2>Quand vais-je revoir ? Vais-je avoir mal ?</h2>
      <p>Dans la très grande majorité des cas (95%), l’œil opéré de la cataracte est indolore.</p>



      <p>La vision s’améliore très rapidement, souvent dès le lendemain, et une correction adaptée par lunettes peut être prescrite au bout de quelques semaines.</p>



      <p>Les soins locaux sont réduits à l’instillation de gouttes.</p>



      <h2>Que faire de mon pansement ?</h2>
      <p>Le pansement ou rondelle oculaire doit être retiré le lendemain matin de l'intervention. La coque sera ensuite porté 5 à 7 jours la nuit uniquement.</p>



      <h2>Quand dois-je commencer à mettre les gouttes</h2>
      <p>Vous devez instiller les premières gouttes aussitôt le pansement retiré.</p>



      <p>Vous pouvez instiller les différents traitement à la suite, en attendant une minute entre chaque traitement.</p>



      <h2>Qui doit m'instiller les gouttes ?</h2>
      <p>Dans la mesure du possible, c'est vous qui devez les instiller.</p>


      <p>Ce n'est pas compliqué, en s'aidant d'un miroir.</p>


      <p>Attention, pensez à toujours vous laver les mains avant d'appliquer le traitement.</p>



      <p>Il n'y a aucun risque à instiller plusieurs gouttes d'un même traitement, l'essentiel étant de mettre au moins une goutte dans l’œil. Une unidose comprend assez de gouttes pour faire des "erreurs". Il n'y a donc aucun souci si des gouttes tombent sur votre joue ou au sol.</p>



      <p>Dans l'impossibilité de réaliser ce traitement vous même, demandez de l'aide à votre famille ou votre entourage (voisins, amis...). En dernier recours, vous pouvez faire appel à une infirmière diplômée d'état qui viendra faire les soins à domicile (l'ordonnance sera rédigée par le médecin).</p>



      <h2>Quand aura lieu le contrôle post-opératoire ?</h2>
      <p>Avant votre intervention, le médecin vous remettra un dossier complet post-opératoire personnalisé.</p>

      <p style="border-radius: 0 0 20px 0">Dans celui-ci figure la date et l'heure de votre rendez-vous prévu au centre d'ophtalmologie à Miramas. En cas d'impossibilité de vous rendre à ce rendez-vous, merci de contacter le secrétariat via le numéro de téléphone indiqué.</p>
  </div>
</div>

<!-------------------------------------- liens détails --------------------------------------------->
  <div class='bottom_elements'>
    <% @bilans.each do |bilan| %>
      <% if bilan.name == 'Cataracte' %>
        <div class="bottom_element_1">
          <%= link_to (bilancliniquepreoperatoire_path(bilan)), class: "bottom_description" do %>
            <h2>Bilan clinique pré-opératoire</h2>
            <p>Contenu de la consultation préalable à toute chirurgie au cabinet</p>
            <h4>En savoir plus</h4>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% @prepares.each do |prepare| %>
      <% if prepare.name == 'Cataracte' %>
        <div class="bottom_element_1">
          <%= link_to (preparerlintervention_path(prepare)), class: "bottom_description" do %>
            <h2>Preparer l'intervention</h2>
            <p>Les éléments essentiels à préparer avant l'intervention</p>
            <h4>En savoir plus</h4>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% @consignes.each do |consigne| %>
      <% if consigne.name == 'Cataracte' %>
        <div class="bottom_element_1">
          <%= link_to (consignepostoperatoire_path(consigne)), class: "bottom_description" do %>
            <h2>Consignes post-opératoires</h2>
            <p>Après la chirurgie, que faire ?</p>
            <h4>En savoir plus</h4>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
  <!-------------------------------------- liens détails --------------------------------------------->
<!-------------------------------------- liens détails --------------------------------------------->

<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag('logo_ok.png', alt: "", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
