<% content_for :meta_title, "#{DEFAULT_META["meta_title"]}, ivt : post-opératoire" %>
<% content_for :meta_description, "injection intra-vitréenne, consignes post-opératoires : Quand rentrer à son domicile ? Quand, qui et comment mettre les gouttes ?" %>
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag('logo_ok.png', alt: "logo OphtaMiramas", id: "img_logo") %>
  <% end %>
</div>
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
    <%= image_tag('view.png', alt: "logo oeil", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", centre_path %>
      <%= link_to "EQUIPE", equipe_path %>
      <%= link_to "LUNETTES", lunettes_path %>
      <%= link_to "PATHOLOGIES", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path, {class: 'chirurgie_bb'} %>
      <%= link_to "RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", target: '_blank', class: "link_rendez_vous color_link", rel: 'noopener nofollow' %>
    </div>
  </div>
</div>
<h1 class="titre_pathologies">IVT : vous venez d'être injecté(e): que faire ?</h1>
<div class='chest_each_patho'>
  <div class="conteneur_text_bilantech">
    <div class="textes">
      <h2 class= 'border-radius'>Quand puis-je rentrer à mon domicile ?</h2>
      <p>Une fois l'injection réalisée, une infirmière vous donnera toutes les consignes post-opératoires (comment et quand mettre les gouttes, prochaine injection ou rendez-vous de contrôle).</p>
      <p>Après votre sortie administrative, vous êtes libre !</p>
      <p>Entre votre entrée et votre sortie, souvent moins de 30 minutes se seront écoulées.</p>
      <h2>Quand vais-je revoir ? Vais-je avoir mal ?</h2>
      <p>Dans la très grande majorité des cas (95%), l’œil injecté est indolore, toutefois une sensation de grains de sable est possible pendant quelques jours.</p>
      <p>Il se peut que vous ayez la sensation de voir des ronds noirs ; il s'agit des bulles du produit qui vont se dissiper rapidement.</p>
      <p>Les soins locaux sont réduits à l’instillation de gouttes.</p>
      <p>Si dans les jours suivants l'injection, l'oeil devient rouge et douloureux, vous devez consulter l'ophtalmologiste.</p>
      <h2>Quand dois-je commencer à mettre les gouttes</h2>
      <p>Vous devez instiller les premières gouttes aussitôt le pansement retiré, soit le premier soir.</p>
      <p>Vous pouvez instiller les différents traitement à la suite, en attendant une minute entre chaque traitement.</p>
      <h2>Qui doit m'instiller les gouttes ?</h2>
      <p>Dans la mesure du possible, c'est vous qui devez les instiller.</p>
      <p>Ce n'est pas très compliqué, en s'aidant d'une glace.</p>
      <p>Attention, pensez à toujours vous laver les mains avant d'appliquer le traitement.</p>
      <p>Il n'y a aucun risque à instiller plusieurs gouttes d'un même traitement, l'essentiel étant de mettre au moins une goutte dans l'oeil. Une unidose comprend assez de gouttes pour faire des "erreurs". Il n'y a donc aucun souci si des gouttes tombent sur votre joue ou au sol.</p>
      <p>Dans l'impossibilité de réaliser ce traitement vous même, demandez de l'aide à votre famille ou votre entourage (voisins, amis...). En dernier recours, vous pouvez faire appel à une infirmière diplômée d'état qui viendra faire les soins à domicile (l'ordonnance vous sera rédigée par le médecin).</p>
      <h2>Quand aura lieu la prochaine IVT ou la consultation ?</h2>
      <p>Après votre injection, le médecin vous remettra un compte rendu qui vous donnera la date et l'heure de la prochaine injection  ou de la consultation.</p>
      <p class="bg-bb">En cas d'impossibilité de vous rendre à ce rendez-vous, merci de contacter le secrétariat via le numéro de téléphone indiqué ou via le formulaire de contact.</p>
    </div>
  </div>
  <div class='bottom_elements'>
    <div class="bottom_element_1">
      <%= link_to (chirurgy_bilancliniquepreoperatoire_path(@chirurgie)), class: "bottom_description" do %>
      <p class="titre_bottom">Bilan clinique pré-opératoire</p>
      <p>Contenu de la consultation préalable à toute chirurgie au cabinet</p>
      <p class="plus">En savoir plus</p>
      <% end %>
    </div>
    <div class="bottom_element_1">
      <%= link_to (chirurgy_preparerlintervention_path(@chirurgie)), class: "bottom_description" do %>
      <p class="titre_bottom">Preparer l'intervention</p>
      <p>Les éléments essentiels à préparer avant l'intervention</p>
      <p class="plus">En savoir plus</p>
      <% end %>
    </div>
    <div class="bottom_element_1">
      <%= link_to (chirurgy_consignepostoperatoire_path(@chirurgie)), class: "bottom_description" do %>
      <p class="titre_bottom">Consignes post-opératoires</p>
      <p>Après la chirurgie, que faire ?</p>
      <p class="plus">En savoir plus</p>
      <% end %>
    </div>
  </div>
</div>
<div class='bottom_bar'>
  <%= image_tag('logobleu.png', alt: "logo OphtaMiramas", class: 'img_prez') %>
</div>
