<% content_for :meta_title, "#{DEFAULT_META["meta_title"]}, chirurgie de la cataracte : préparer l'intervention" %>
<% content_for :meta_description, "Chirurgie de la cataracte, comment bien préparer l'intervention ? : l'administratif, l'anesthésiste et l'entretien avec le médecin" %>
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag('logo_ok.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
    <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", centre_path %>
      <%= link_to "EQUIPE", equipe_path %>
      <%= link_to "LUNETTES", lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path, {class: 'chirurgie_bb'} %>
      <%= link_to "RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", target: '_blank', class: "link_rendez_vous color_link", rel: 'noopener nofollow' %>
    </div>
  </div>
</div>
<h1 class="titre_pathologies ml_13">CATARACTE : Préparer l'intervention</h1>
<div class='chest_each_patho'>
  <div class="conteneur_text_bilantech">
    <div class="textes">
      <h2 class="titre_path" class= 'border-radius'>Remplissez le dossier administratif</h2>
      <p>Il est essentiel de remplir les éléments contenus dans votre dossier, notamment :</p>
      <p>• la demande d'admission à la clinique officialisant votre réservation (à retourner par voie postale à la clinique ou à déposer lors de la consultation pré-opératoire),</p>
      <p>• le dossier d'anesthésie afin que l'anesthésiste et son équipe connaissent vos antécédents médicaux pour intervenir rapidement en cas de soucis,</p>
      <p>• l'accord de votre tutelle / curatelle (si vous êtes sous tutelle / curatelle).</p>
      <h2>Prenez rendez-vous avec l'anesthésiste</h2>
      <p>Il est obligatoire de rencontrer l'anesthésiste avant toute chirurgie, même si celle-ci se réalise sous anesthésie locale</p>
      <h2>Entretien</h2>
      <p>Si le diagnostic est confirmé, nous vous exposerons au cours d'un entretien et de manière très simplifiée :</p>
      <p>  • l'origine et la conséquence de la cataracte,</p>
      <p>  • les possibilités thérapeutiques,</p>
      <p>  • l'intérêt et les risques de la chirurgie.</p>
      <h2>Contactez votre assurance complémentaire / mutuelle</h2>
      <p>L’essentiel de l'acte chirurgical est pris en charge par l’assurance maladie :</p>
      <p>• L’assurance maladie verse un forfait à la clinique pour assurer les frais de structure (matériels, personnels, implant,…).</p>
      <p>• L’assurance maladie participe au financement de l’acte chirurgie et de l’acte anesthésique.</p>
      <p>Un devis détaillé vous sera communiqué lors de votre consultation afin que vous puissiez vérifier vos droits auprès de  votre mutuelle.</p>
      <h2>Allez chercher vos traitements !</h2>
      <p>Dans votre dossier, vous trouverez une ordonnance notifiant les collyres à instiller :</p>
      <p>• ordonnance pré-opératoire : collyres à instiller le jour J en quittant votre domicile pour provoquer la dilatation oculaire et faciliter la chirurgie,</p>
      <p class="border_radius">• ordonnance post-opératoire : collyres à instiller dès le soir même de l'intervention.</p>
    </div>
  </div>
  <p  class="italique">Concernant l’ordonnance post-opératoire, pensez à vous rendre à la pharmacie avant l'opération pour gagner en sérénité et ainsi pouvoir rentrer immédiatement à votre domicile après la chirurgie.</p>
  <div class='bottom_elements'>
    <div class="bottom_element_1">
      <%= link_to (chirurgy_bilancliniquepreoperatoire_path(@chirurgie)), class: "bottom_description" do %>
      <p class="titre_bottom">Bilan clinique pré-opératoire</p>
      <p>Contenu de la consultation préalable à toute chirurgie au cabinet</p>
      <p class="plus">En savoir plus</p>
      <% end %>
    </div>
    <div class="bottom_element_1">
      <%= link_to (chirurgy_preparerlintervention_path(@chirurgie)), class: "bottom_description" do %>
      <p class="titre_bottom">Preparer l'intervention</p>
      <p>Les éléments essentiels à préparer avant l'intervention</p>
      <p class="plus">En savoir plus</p>
      <% end %>
    </div>
    <div class="bottom_element_1">
      <%= link_to (chirurgy_consignepostoperatoire_path(@chirurgie)), class: "bottom_description" do %>
      <p class="titre_bottom">Consignes post-opératoires</p>
      <p>Après la chirurgie, que faire ?</p>
      <p class="plus">En savoir plus</p>
      <% end %>
    </div>
  </div>
  <%= link_to (chirurgy_choisissezvotreimplant_path(@chirurgie)), class: 'etape' do %>
  <%= image_tag('fleche01.png', alt:"fleche", class: 'width_70') %>
  <p>Etape suivante : Choisissez votre implant</p>
  <% end %>
</div>
<div class='bottom_bar'>
  <%= image_tag('logo_ok.png', alt: "", class: "width_60") %>
</div>
