<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag('logo_ok.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->
<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
    <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "LE CENTRE", pages_centre_path %>
      <%= link_to "L'EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <%= link_to "PRENDRE RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", style: 'color:#207fde', target: '_blank' %>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->
<!------------------------------------ titre ------------------------------------------->
<h2 class="titre_pathologies" style="margin-left: 13%;">IVT : Préparer l'intervention</h2>
<!------------------------------------ titre ------------------------------------------->
<div class='chest_each_patho'>
  <div class="conteneur_text_bilantech">
    <div class="textes">
      <h2 style="border-radius: 0 20px 0 0">Remplissez le dossier administratif</h2>
      <p>Il est essentiel de remplir les éléments contenus dans votre dossier, notamment :</p>
      <p>- la demande d'admission à la clinique officialisant votre réservation (à retourner par voie postale à la clinique ou à déposer lors de la consultation pré-opératoire),</p>
      <p>- l'accord de votre tutelle / curatelle (si vous êtes sous tutelle / curatelle).</p>
      <h2>Allez chercher votre produit et les collyres !</h2>
      <p>Dans votre dossier, vous trouverez 2 ordonnances :</p>
      <p style="font-weight: normal;">- ordonnance concernant le produit d'exception (couleur bleu) : il est indispensable d'aller chercher le produit en pharmacie quelques jours avant car la clinique n'en dispose pas,</p>
      <p style="border-radius: 0 0 20px 0">- ordonnance post-opératoire : collyres à instiller avant et après l'intervention.</p>
      <h2 style="font-size: smaller; background-color: white; width: 80%; padding: 20px 0px; margin: 15px auto;">Pensez à aller à la pharmacie avant l'injection pour gagner en sérénité et ainsi pouvoir rentrer immédiatement à votre domicile après l'injection.</h2>
    </div>
    <!--  <%= image_tag('ordo.jpg', alt: "", class: "image_pathology") %> -->
  </div>
  <!-------------------------------------- liens détails --------------------------------------------->
  <div class='bottom_elements'>
    <% @bilans.each do |bilan| %>
      <% if bilan.name == 'IVT' %>
        <div class="bottom_element_1">
          <%= link_to (bilancliniquepreoperatoire_path(bilan)), class: "bottom_description" do %>
            <h2>Bilan clinique pré-opératoire</h2>
            <p>Contenu de la consultation préalable à toute chirurgie au cabinet</p>
            <h4>En savoir plus</h4>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% @prepares.each do |prepare| %>
      <% if prepare.name == 'IVT' %>
        <div class="bottom_element_1">
          <%= link_to (preparerlintervention_path(prepare)), class: "bottom_description" do %>
            <h2>Preparer l'intervention</h2>
            <p>Les éléments essentiels à préparer avant l'intervention</p>
            <h4>En savoir plus</h4>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% @consignes.each do |consigne| %>
      <% if consigne.name == 'IVT' %>
        <div class="bottom_element_1">
          <%= link_to (consignepostoperatoire_path(consigne)), class: "bottom_description" do %>
            <h2>Consignes post-opératoires</h2>
            <p>Après la chirurgie, que faire ?</p>
            <h4>En savoir plus</h4>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-------------------------------------- liens détails --------------------------------------------->
  <!-------------------------------------- étape suivante --------------------------------------------->
  <% @consignes.each do |consigne| %>
    <% if consigne.name == 'IVT' %>
      <div class="etapes">
        <%= link_to (consignepostoperatoire_path(consigne)), class: 'etape' do %>
          <p>Etape suivante : Après la chirurgie, que faire ?</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <!-------------------------------------- étape suivante --------------------------------------------->
</div>
<!------------------------------------ bottom bar ------------------------------------------->
<div class='bottom_bar'>
  <%= image_tag('logo_ok.png', alt: "", style: "width: 60px") %>
</div>
<!------------------------------------ bottom bar ------------------------------------------->
