<% content_for :meta_title, "#{DEFAULT_META["meta_title"]}, chirurgie réfractive (laser) : préparer l'intervention" %>
<% content_for :meta_description, "chirurgie réfractive (laser), comment bien préparer l'intervention ? : les traitements, mutuelle/complémentaire, maquillage, lentilles, anticiper la route." %>
<!------------------------------------- logo -------------------------------------------->
<div class='logo'>
  <%= link_to root_path do %>
  <%= image_tag('logo_ok.png', alt: "", id: "img_logo") %>
  <% end %>
</div>
<!------------------------------------- logo -------------------------------------------->
<!------------------------------------ navbar ------------------------------------------->
<div class='nav_back'>
  <div class='navbar_all'>
    <%= link_to((root_path), class: 'a_img') do %>
      <%= image_tag('view.png', alt: "", class: "img_navbar") %>
    <% end %>
    <div class="navbar">
      <%= link_to "CENTRE", pages_centre_path %>
      <%= link_to "EQUIPE", pages_equipe_path %>
      <%= link_to "LUNETTES", pages_lunettes_path %>
      <%= link_to "AFFECTIONS", pathologies_path %>
      <%= link_to "CHIRURGIES", chirurgies_path, {style: 'border-bottom: 0.5px solid #363636;'} %>
      <%= link_to "RENDEZ-VOUS", "https://www.votrerdv.fr/ophtalmologiste/miramas/ophta-miramas/prendrerdv.php", style: 'color:#207fde', target: '_blank', class: "link_rendez_vous", rel: 'nofollow' %>
    </div>
  </div>
</div>
<!------------------------------------ navbar ------------------------------------------->
<!------------------------------------ titre ------------------------------------------->
<h1 class="titre_pathologies" style="margin-left: 13%;">CHIRURGIE REFRACTIVE: Préparer l'intervention</h1>
<!------------------------------------ titre ------------------------------------------->
<div class='chest_each_patho'>
  <div class="conteneur_text_bilantech">
    <div class="textes">
      <h2 style="border-radius: 0 20px 0 0">Allez chercher vos traitements !</h2>
      <p>Dans votre dossier, vous trouverez une ordonnance spécifiant les collyres à instiller dans les suites opératoires immédiates</p>
      <p>Pensez à aller à la pharmacie avant l'opération pour gagner en sérénité et ainsi pouvoir rentrer immédiatement à votre domicile après l'intervention.</p>
      <p>Il n'y a aucun traitement à prendre au préalable.</p>
      <h2>Contactez votre assurance complémentaire / mutuelle</h2>
      <p>Un devis détaillé vous a été fourni en fonction de la technique opératoire choisie / possible.</p>
      <p>Pour éviter toute mauvaise surprise, vérifier vos droits auprès de votre mutuelle.</p>
      <p>A noter que le centre offre le paiement en trois fois (étalé sur 3 mois) sans frais.</p>
      <h2>Enlevez vos lentilles ! Pas de maquillage !</h2>
      <p>Pour assurer un parfait état de votre cornée et donc permettre un résultat post-opératoire optimal, arrêtez le port de lentilles 72 heures avant l'intervention.</p>
      <p>Le maquillage est contre-indiqué.</p>
      <p>Il complique la chirurgie et favorise les infections.</p>
      <h2>Anticipez la route !</h2>
      <p style="border-radius: 0 0 20px 0">Toujours pour gagner en sérénité, veillez à prendre une marge horaire pour votre déplacement le jour J.</p>
    </div></div>
    <!-------------------------------------- liens détails --------------------------------------------->
  <div class='bottom_elements'>
    <% @bilans.each do |bilan| %>
      <% if bilan.name == 'Chirurgie réfractive' %>
        <div class="bottom_element_1">
          <%= link_to (bilancliniquepreoperatoire_path(bilan)), class: "bottom_description" do %>
            <p class="titre_bottom">Bilan clinique pré-opératoire</p>
            <p>Contenu de la consultation préalable à toute chirurgie au cabinet</p>
            <p class="plus">En savoir plus</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% @prepares.each do |prepare| %>
      <% if prepare.name == 'Chirurgie réfractive' %>
        <div class="bottom_element_1">
          <%= link_to (preparerlintervention_path(prepare)), class: "bottom_description" do %>
            <p class="titre_bottom">Preparer l'intervention</p>
            <p>Les éléments essentiels à préparer avant l'intervention</p>
            <p class="plus">En savoir plus</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% @consignes.each do |consigne| %>
      <% if consigne.name == 'Chirurgie réfractive' %>
        <div class="bottom_element_1">
          <%= link_to (consignepostoperatoire_path(consigne)), class: "bottom_description" do %>
            <p class="titre_bottom">Consignes post-opératoires</p>
            <p>Après la chirurgie, que faire ?</p>
            <p class="plus">En savoir plus</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-------------------------------------- liens détails --------------------------------------------->
  <!-------------------------------------- étape suivante --------------------------------------------->
  <% @consignes.each do |consigne| %>
    <% if consigne.name == 'Chirurgie réfractive' %>
        <%= link_to (consignepostoperatoire_path(consigne)), class: 'etape' do %>
          <%= image_tag('fleche01.png', alt:"fleche", style: "width: 70px;") %>
          <p>Etape suivante : Après la chirurgie, que faire ?</p>
        <% end %>
    <% end %>
  <% end %>
  <!-------------------------------------- étape suivante --------------------------------------------->
</div>
    <!-------------------------------------- étape suivante --------------------------------------------->
  </div>
  <!------------------------------------ bottom bar ------------------------------------------->
  <div class='bottom_bar'>
    <%= image_tag('logo_ok.png', alt: "", style: "width: 60px") %>
  </div>
  <!------------------------------------ bottom bar ------------------------------------------->
