<!DOCTYPE html>
<html>
  <head>
    <title=meta_title>

    <meta name="description" content=<%= "#{meta_description}" %>>

    <meta property="og:title" content=<%= "#{meta_title}" %>>
    <meta property="og:type" content="website">
    <meta property="og:url" content=<%= "#{request.original_url}" %>>
    <meta property="og:image" content=<%= "#{meta_image}" %>>
    <meta property="og:site_name" content=<%= "#{meta_title}" %>>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
