<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:site_name" content="Ophtalmo-miramas">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TWZXPNT');</script>
    <!-- End Google Tag Manager -->

    <!-- Structured Data -->
     <script type="application/ld+json">
      {
        "@context": "http://www.schema.org",
        "@type": "MedicalClinic",
        "member": ["Docteur Buzzacchera Nadine", "Docteur Hervé-Fey Brigitte"],
        "name": "OphtaMiramas",
        "description": "Prendre rendez-vous au cabinet d'ophtalmologie à Miramas des docteurs Buzzacchera Nadine et Hervé-Fey Brigitte. Chirugie refractive, cataracte, DMLA ...",
        "url": "https://www.ophtalmo-miramas.com/",
        "logo": "https://www.ophtalmo-miramas.com/assets/logo_ok-a7b4895674ae588f490975292e1b9e44d74705fdf8a09e21e422d2a6a19b1f31.png",
        "image": "https://www.ophtalmo-miramas.com/assets/banerbleue-6ded24424e3a0fd0cca0a81e68e01704df7342ead9d6017abc62123aceabf69e.jpg",
        "telephone": "+33490503350",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "54 Bis Avenue Charles de Gaulle",
          "addressLocality": "Miramas",
          "addressRegion": "Provence-Alpes-Côte d'Azur",
          "postalCode": "13140",
          "addressCountry": "France"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "43.584449",
          "longitude": "5.001879"
        },
        "hasMap": "https://goo.gl/maps/4bHEJ7DzEVuawpnf7",
        "openingHours": ["Mo-Th 08:30-19:00", "Fr 08:30-12:30"],
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+33490503350",
        },
        "isAccessibleForFree": true,
        "currenciesAccepted": "EUR",
        "paymentAccepted": "Cash, Credit Card, Bank check",
        "priceRange": "$$"
      }
    </script>
    <!-- End Structured Data -->


    <%= javascript_pack_tag 'application' %>

    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TWZXPNT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%= yield %>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper('.swiper-container', {
        spaceBetween: 30,
        effect:'fade',
        // centeredSlides: true,
        autoplay: {
          delay: 3500,
          disableOnInteraction: false,
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    </script>
  </body>
</html>
